<div class="row g-3">
  <div class="col-sm-4">
    <div class="form-floating">
      <select
        (change)="onYearChange()"
        [(ngModel)]="year"
        name="selectYear"
        class="form-select"
        id="selectYear"
        [ngClass]="{
          'is-valid': requiredFeedbackYear && year,
          'is-invalid': requiredFeedbackYear && !year
        }"
      >
        <option selected disabled></option>
        <option
          *ngFor="let year of years"
          [disabled]="yearIsInThePast(year)"
          [value]="year"
        >
          {{ year }}
        </option>
      </select>
      <label for="selectYear"
        >Año<span *ngIf="requiredFeedbackYear" class="text-danger"
          >*</span
        ></label
      >
      <div *ngIf="requiredFeedbackYear" class="invalid-feedback">
        {{ requiredFeedbackYear }}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-floating">
      <select
        (change)="onMonthChange()"
        [(ngModel)]="month"
        name="selectMonth"
        class="form-select"
        id="selectMonth"
        [ngClass]="{
          'is-valid': requiredFeedbackMonth && month,
          'is-invalid': requiredFeedbackMonth && !month
        }"
      >
        <option selected disabled></option>
        <option
          *ngFor="let monthOfYear of monthsOfYear"
          [disabled]="monthIsInThePast(monthOfYear.number)"
          [value]="monthOfYear.number"
        >
          {{ monthOfYear.month }}
        </option>
      </select>
      <label for="selectMonth"
        >Mes<span *ngIf="requiredFeedbackMonth" class="text-danger"
          >*</span
        ></label
      >
      <div *ngIf="requiredFeedbackMonth" class="invalid-feedback">
        {{ requiredFeedbackMonth }}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-floating">
      <select
        [disabled]="!month || !year"
        (change)="onDayChange()"
        [(ngModel)]="day"
        name="selectDay"
        class="form-select"
        id="selectDay"
        [ngClass]="{
          'is-valid': requiredFeedbackDay && month && year && day,
          'is-invalid': requiredFeedbackDay && month && year && !day
        }"
      >
        <option selected disabled></option>
        <option
          *ngFor="let dayOfMonth of daysOfMonth"
          [disabled]="dayIsInThePast(dayOfMonth)"
          [value]="dayOfMonth"
        >
          {{ dayOfMonth }}
        </option>
      </select>
      <label for="selectDay"
        >Dia<span
          *ngIf="requiredFeedbackDay"
          [ngClass]="{
            'text-light': !month || !year,
            'text-danger': month && year
          }"
          >*</span
        ></label
      >
      <div *ngIf="requiredFeedbackDay" class="invalid-feedback">
        {{ requiredFeedbackDay }}
      </div>
    </div>
  </div>
</div>
