<div id="firstElement" name="firstElement" class="row g-3">
  <div *ngIf="formIndex === 0" class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">Tipo de persona</h5>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              [(ngModel)]="tipoPersona"
              (change)="invalidateFlowUser()"
              class="form-check-input"
              type="radio"
              name="tipoPersonaNatural"
              id="tipoPersonaNatural"
              value="Natural"
              [ngClass]="{
                'is-valid': tipoPersona,
                'is-invalid': !tipoPersona || validacionUsuarioError
              }"
            />
            <label class="form-check-label" for="tipoPersonaNatural">
              Natural
            </label>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="tipoPersona"
              (change)="invalidateFlowUser()"
              class="form-check-input"
              type="radio"
              name="tipoPersonaJuridica"
              id="tipoPersonaJuridica"
              value="Juridica"
              [ngClass]="{
                'is-valid': tipoPersona,
                'is-invalid': !tipoPersona || validacionUsuarioError
              }"
            />
            <label class="form-check-label" for="tipoPersonaJuridica">
              Juridica
            </label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, seleccione una opcion.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 0" class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12">
            <h5 class="card-title text-center">Tipo de relacion</h5>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input
                [(ngModel)]="tipoRelacion"
                (change)="invalidateFlowUser()"
                class="form-check-input"
                type="radio"
                name="tipoRelacionContratista"
                id="tipoRelacionContratista"
                value="Contratista"
                [ngClass]="{
                  'is-valid': tipoRelacion,
                  'is-invalid': !tipoRelacion || validacionUsuarioError
                }"
              />
              <label class="form-check-label" for="tipoRelacionContratista"
                >Contratista</label
              >
            </div>
            <div class="form-check">
              <input
                [(ngModel)]="tipoRelacion"
                (change)="invalidateFlowUser()"
                class="form-check-input"
                type="radio"
                name="tipoRelacionProveedor"
                id="tipoRelacionProveedor"
                value="Proveedor"
                [ngClass]="{
                  'is-valid': tipoRelacion,
                  'is-invalid': !tipoRelacion || validacionUsuarioError
                }"
              />
              <label class="form-check-label" for="tipoRelacionProveedor"
                >Proveedor</label
              >
              <div class="invalid-feedback">
                Este campo es (*) obligatorio, seleccione una opcion.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 1" class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12">
            <h5 class="card-title text-center">Informacion de usuario</h5>
          </div>
          <div
            *ngIf="tipoPersona === 'Natural'"
            class="col-9 col-md-10 col-xl-11"
          >
            <div class="form-floating">
              <input
                [(ngModel)]="identificator"
                (input)="invalidateFlowUser()"
                type="text"
                class="form-control"
                name="floatingInputIdentificator"
                id="floatingInputIdentificator"
                placeholder="\0"
                [ngClass]="{
                  'is-valid':
                    identificator.length === 8 || identificator.length === 10,
                  'is-invalid':
                    (identificator.length !== 8 &&
                      identificator.length !== 10) ||
                    validacionUsuarioError
                }"
                maxlength="10"
                [OnlyNumbers]="true"
              />
              <label for="floatingInputIdentificator"
                >Cedula de ciudadania<span class="text-danger">*</span></label
              >
              <div class="invalid-feedback">
                <p *ngIf="!validacionUsuarioError">
                  Este campo es (*) obligatorio, rellenelo.
                </p>
                <p *ngIf="validacionUsuarioError">
                  No se ha encontrado, se encuentra en espera o ha sido
                  rechazado el registro con la informacion ingresada.
                </p>
              </div>
            </div>
          </div>
          <div
            *ngIf="tipoPersona === 'Juridica'"
            class="col-9 col-md-10 col-xl-11"
          >
            <label for="inputNIT1" class="form-label"
              >NIT (Con digito de verificacion) Ej. 890507890-4<span
                class="text-danger"
                >*</span
              ></label
            >
            <div class="input-group">
              <input
                [(ngModel)]="identificator"
                (input)="invalidateFlowUser()"
                type="text"
                class="form-control"
                placeholder="NIT Ej. 890507890"
                aria-label="NIT Ej. 890507890"
                [ngClass]="{
                  'is-valid': identificator.length === 9,
                  'is-invalid':
                    identificator.length !== 9 || validacionUsuarioError
                }"
                style="z-index: 0"
                name="inputNIT1"
                maxlength="9"
                [OnlyNumbers]="true"
              />
              <span class="input-group-text">-</span>
              <input
                [(ngModel)]="digitoVerificacion"
                (change)="invalidateFlowUser()"
                type="text"
                class="form-control"
                placeholder="Digito de verificacion Ej. 4"
                aria-label="Digito de verificacion Ej. 4"
                [ngClass]="{
                  'is-valid': digitoVerificacion.length === 1,
                  'is-invalid':
                    digitoVerificacion.length !== 1 || validacionUsuarioError
                }"
                style="z-index: 0"
                name="inputNIT2"
                maxlength="1"
                [OnlyNumbers]="true"
              />
              <div class="invalid-feedback">
                <p *ngIf="!validacionUsuarioError">
                  Este campo es (*) obligatorio, rellenelo.
                </p>
                <p *ngIf="validacionUsuarioError">
                  No se ha encontrado, se encuentra en espera o ha sido
                  rechazado el registro con la informacion ingresada.
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-2 col-xl-1 d-grid grap-2 mx-auto">
            <button
              [disabled]="
                !(tipoPersona === 'Natural'
                  ? identificator
                  : identificator && digitoVerificacion)
              "
              (click)="btnValidarUsuarioClick()"
              class="btn btn-primary"
            >
              Validar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 2" class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12">
            <h5 class="card-title text-center">Tipo de gestion</h5>
          </div>
        </div>
        <div class="form-check">
          <input
            [(ngModel)]="tipoGestion"
            class="form-check-input"
            type="radio"
            name="tipoSoporteContable0"
            id="tipoSoporteContable0"
            value="Cuenta de cobro"
          />
          <label class="form-check-label" for="tipoSoporteContable0">
            Cuenta de cobro o factura
          </label>
        </div>
        <div
          *ngIf="
            tipoRelacion !== 'Contratista' ||
            (tipoRelacion === 'Contratista' && tipoPersona !== 'Juridica')
          "
          class="form-check"
        >
          <input
            [(ngModel)]="tipoGestion"
            class="form-check-input"
            type="radio"
            name="tipoSoporteContable1"
            id="tipoSoporteContable1"
            value="Anticipo"
          />
          <label class="form-check-label" for="tipoSoporteContable1">
            Anticipo
          </label>
        </div>
        <div
          *ngIf="tipoPersona !== 'Juridica' && tipoRelacion === 'Contratista'"
          class="form-check"
        >
          <input
            [(ngModel)]="tipoGestion"
            class="form-check-input"
            type="radio"
            name="tipoSoporteContable2"
            id="tipoSoporteContable2"
            value="Dieta"
          />
          <label class="form-check-label" for="tipoSoporteContable2">
            Dieta
          </label>
        </div>
        <div
          *ngIf="
            !(tipoPersona === 'Juridica' && tipoRelacion === 'Contratista')
          "
          class="form-check"
        >
          <input
            [(ngModel)]="tipoGestion"
            class="form-check-input"
            type="radio"
            name="tipoSoporteContable3"
            id="tipoSoporteContable3"
            value="Legalizacion"
          />
          <label class="form-check-label" for="tipoSoporteContable3">
            Legalizacion
          </label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 2.1" class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12">
            <h5 class="card-title text-center">Tipo de legalizacion</h5>
          </div>
        </div>
        <div
          *ngIf="tipoPersona === 'Natural' && tipoRelacion === 'Contratista'"
          class="form-check"
        >
          <input
            [(ngModel)]="tipoLegalizacion"
            class="form-check-input"
            type="radio"
            name="tipoLegalizacion0"
            id="tipoLegalizacion0"
            value="Desplazamiento"
          />
          <label class="form-check-label" for="tipoLegalizacion0">
            Desplazamiento
          </label>
        </div>
        <div *ngIf="tipoRelacion === 'Proveedor'" class="form-check">
          <input
            [(ngModel)]="tipoLegalizacion"
            class="form-check-input"
            type="radio"
            name="tipoLegalizacion1"
            id="tipoLegalizacion1"
            value="Suministro y servicios"
          />
          <label class="form-check-label" for="tipoLegalizacion1">
            Suministro y servicios
          </label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 3" class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12">
            <h5 class="card-title text-center">
              {{ tipoPersona }} - {{ tipoRelacion }} - {{ tipoGestion
              }}{{
                tipoGestion === "Legalizacion" ? " - " + tipoLegalizacion : ""
              }}
            </h5>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <select
                [(ngModel)]="convenio"
                class="form-select"
                id="convenio"
                name="convenio"
                [ngClass]="{
                  'is-valid': convenio,
                  'is-invalid': !convenio
                }"
              >
                <option selected disabled></option>
                <option
                  *ngFor="let convenio of convenios"
                  [value]="convenio.Numero"
                >
                  {{ convenio.Aliado + " | " + convenio.Numero }}
                </option>
              </select>
              <label for="convenio">Convenio</label>
              <div class="invalid-feedback">
                Este campo es (*) obligatorio, seleccione una opcion.
              </div>
            </div>
          </div>
          <!-- Cuenta de cobro o factura -->
          <div *ngIf="tipoGestion === 'Cuenta de cobro'">
            <div class="col-12">
              <label for="fieldCuentaCobroFacturaFiles" class="form-label"
                >Cuenta de cobro o factura<span class="text-danger">*</span>
              </label>
              <app-upload-files
                [contentAsArrayBuffer]="true"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setCuentaCobroFacturaFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label for="fieldFacturaEquivalenteFiles" class="form-label"
                >Factura equivalente<span
                  *ngIf="tipoRelacion === 'Contratista'"
                  class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setFacturaEquivalenteFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label for="fieldPagoSeguridadSocialFiles" class="form-label"
                >{{
                  tipoPersona === "Natural"
                    ? "Pago de seguridad social vigente (pagado)"
                    : "Certificado de
                parafiscales"
                }}<span class="text-danger">*</span></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setSeguridadSocialParafiscalesFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label for="uploadFilesInformeActividades" class="form-label"
                >Informe de actividades<span class="text-danger">*</span></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                name="uploadFilesInformeActividades"
                id="uploadFilesInformeActividades"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setInformeActividadesFiles($event)"
              ></app-upload-files>
            </div>
            <div
              *ngIf="
                tipoRelacion === 'Contratista' && tipoPersona === 'Juridica'
              "
              class="col-12"
            >
              <label
                for="uploadFilesPolizaAnticipoCumplimiento"
                class="form-label"
                >Poliza de anticipo y cumpliento<span class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                name="uploadFilesPolizaAnticipoCumplimiento"
                id="uploadFilesPolizaAnticipoCumplimiento"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setPolizaAnticipoCumplimientoFiles($event)"
              ></app-upload-files>
            </div>
          </div>
          <!-- Anticipo -->
          <div *ngIf="tipoGestion === 'Anticipo'">
            <div *ngIf="tipoPersona === 'Juridica'" class="col-12">
              <label class="form-label" for="uploadFilesCamaraComercio"
                >Camara de comercio (Si aplica)</label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesCamaraComercio"
                name="uploadFilesCamaraComercio"
                (onFilesChange)="setCamaraDeComercioFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label class="form-label" for="uploadFilesFormatoSolicitudAvances"
                >Formato de solicitud de avances<span class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesFormatoSolicitudAvances"
                name="uploadFilesFormatoSolicitudAvances"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setFormatoSolicitudAvancesFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label class="form-label" for="uploadFilesCotizaciones"
                >Cotizaciones (Si es el caso)</label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesCotizaciones"
                name="uploadFilesCotizaciones"
                (onFilesChange)="setCotizacionesFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label class="form-label" for="uploadFilesSolicitudComisiones"
                >Solicitudes de comision (Si es el caso)</label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesSolicitudComisiones"
                name="uploadFilesSolicitudComisiones"
                (onFilesChange)="setSolicitudesComisionFiles($event)"
              ></app-upload-files>
            </div>
          </div>
          <!-- Dieta -->
          <div *ngIf="tipoGestion === 'Dieta'">
            <div class="col-12">
              <label class="form-label" for="uploadFilesFormatoSolicitudViajes"
                >Formato de solicitud de viajes<span class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesFormatoSolicitudViajes"
                name="uploadFilesFormatoSolicitudViajes"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setFormatoSolicitudViajesFiles($event)"
              ></app-upload-files>
            </div>
          </div>
          <!-- Legalizacion - Desplazamiento -->
          <div *ngIf="tipoLegalizacion === 'Desplazamiento'">
            <div class="col-12">
              <label
                class="form-label"
                for="uploadFilesFormatoLegalizacionViajes"
                >Formato de legalizacion de viajes<span class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesFormatoLegalizacionViajes"
                name="uploadFilesFormatoLegalizacionViajes"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setFormatoLegalizacionViajesFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label class="form-label" for="uploadFilesSoportesFacturas"
                >Soportes facturas (transporte, alojamiento, imprevistos)<span
                  class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesSoportesFacturas"
                name="uploadFilesSoportesFacturas"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setSoportesFacturasFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label
                class="form-label"
                for="uploadFilesPasabordosTiquetesAereos"
                >Pasabordos tiquetes aereos<span class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesPasabordosTiquetesAereos"
                name="uploadFilesPasabordosTiquetesAereos"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setPasabordosTiquetesAereosFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label class="form-label" for="uploadFilesInforme2Actividades"
                >Informe de actividades<span class="text-danger">*</span></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesInforme2Actividades"
                name="uploadFilesInforme2Actividades"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setInformeActividades2Files($event)"
              ></app-upload-files>
            </div>
          </div>
          <!-- Legalizacion - Suministro y servicios -->
          <div *ngIf="tipoLegalizacion === 'Suministro y servicios'">
            <div class="col-12">
              <label class="form-label" for="uploadFilesFormatoLegalizacion"
                >Formato de legalizacion<span class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesFormatoLegalizacion"
                name="uploadFilesFormatoLegalizacion"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setFormatoLegalizacionFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label for="uploadFilescuentaCobroFactura" class="form-label"
                >Cuenta de cobro o factura<span class="text-danger">*</span>
              </label>
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilescuentaCobroFactura"
                name="uploadFilescuentaCobroFactura"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setCuentaCobroFacturaFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label class="form-label" for="uploadFilesSoportesFacturas"
                >Soportes facturas (transporte, alojamiento, imprevistos)<span
                  class="text-danger"
                  >*</span
                ></label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesSoportesFacturas"
                name="uploadFilesSoportesFacturas"
                [requiredFeedback]="
                  'Este campo es (*) obligatorio, cargue almenos 1 archivo.'
                "
                (onFilesChange)="setSoportesFacturasFiles($event)"
              ></app-upload-files>
            </div>
            <div *ngIf="tipoPersona === 'Juridica'" class="col-12">
              <label for="uploadFilesPagoSeguridadSocial" class="form-label"
                >Certificado de parafiscales</label
              >
              <app-upload-files
                [contentAsArrayBuffer]="true"
                id="uploadFilesPagoSeguridadSocial"
                name="uploadFilesPagoSeguridadSocial"
                (onFilesChange)="setSeguridadSocialParafiscalesFiles($event)"
              ></app-upload-files>
            </div>
          </div>
          <!-- | -->
          <div class="col-12">
            <div class="form-floating">
              <input
                [(ngModel)]="infoAdicional"
                type="text"
                class="form-control"
                name="inputInformacionAdicional"
                id="inputInformacionAdicional"
                placeholder="\0"
                maxlength="255"
              />
              <label for="inputInformacionAdicional"
                >Informacion adicional</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex > 0" class="d-grid gap-2 col-6 mx-auto mb-2">
    <a class="btn btn-primary" (click)="btnPreviousClick()" role="button"
      >Anterior</a
    >
  </div>
  <div
    *ngIf="formIndex !== 3"
    [ngClass]="{ 'col-12': formIndex === 0 }"
    class="d-grid gap-2 col-6 mx-auto mb-2"
  >
    <a
      class="btn btn-primary"
      (click)="btnNextClick()"
      role="button"
      [ngClass]="{ disabled: !isValid() }"
      >Siguiente</a
    >
  </div>
  <div *ngIf="formIndex === 3" class="d-grid gap-2 col-6 mx-auto mb-2">
    <a
      class="btn btn-primary"
      (click)="btnSubmitClick()"
      role="button"
      [ngClass]="{ disabled: !isValid() }"
      >Enviar</a
    >
  </div>
</div>
