<form>
  <div class="row g-3">
    <div *ngIf="formIndex === 0" class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-12">
              <h5 class="card-title text-center">Tipo de persona</h5>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input
                  [(ngModel)]="tipoDePersona"
                  (change)="onFieldChange()"
                  class="form-check-input"
                  type="radio"
                  name="tipoPersonaNatural"
                  id="tipoPersonaNatural"
                  value="Natural"
                  [ngClass]="{
                    'is-valid': tipoDePersona,
                    'is-invalid': !tipoDePersona || validacionUsuarioError
                  }"
                />
                <label class="form-check-label" for="tipoPersonaNatural">
                  Natural
                </label>
              </div>
              <div class="form-check">
                <input
                  [(ngModel)]="tipoDePersona"
                  (change)="onFieldChange()"
                  class="form-check-input"
                  type="radio"
                  name="tipoPersonaJuridica"
                  id="tipoPersonaJuridica"
                  value="Juridica"
                  [ngClass]="{
                    'is-valid': tipoDePersona,
                    'is-invalid': !tipoDePersona || validacionUsuarioError
                  }"
                />
                <label class="form-check-label" for="tipoPersonaJuridica">
                  Juridica
                </label>
                <div class="invalid-feedback">
                  {{
                    !validacionUsuarioError
                      ? "Este campo es (*) obligatorio, seleccione una opcion."
                      : "No se ha entrado ningun registro con los datos ingresados, verifiquelos y vuelva a intentarlo, o realice el proceso de registro aqui."
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="formIndex === 0" class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="row-12">
              <h5 class="card-title text-center">Tipo de relacion</h5>
            </div>
            <div class="row-12">
              <div class="form-check">
                <input
                  [(ngModel)]="tipoDeRelacion"
                  (change)="onFieldChange()"
                  class="form-check-input"
                  type="radio"
                  name="tipoRelacionContratista"
                  id="tipoRelacionContratista"
                  value="Contratista"
                  [ngClass]="{
                    'is-valid': tipoDeRelacion,
                    'is-invalid': !tipoDeRelacion || validacionUsuarioError
                  }"
                  [disabled]="tipoDePersona === 'Juridica'"
                />
                <label class="form-check-label" for="tipoRelacionContratista"
                  >Contratista</label
                >
              </div>
              <div class="form-check">
                <input
                  [(ngModel)]="tipoDeRelacion"
                  (change)="onFieldChange()"
                  class="form-check-input"
                  type="radio"
                  name="tipoRelacionProveedor"
                  id="tipoRelacionProveedor"
                  value="Proveedor"
                  [ngClass]="{
                    'is-valid': tipoDeRelacion,
                    'is-invalid': !tipoDeRelacion || validacionUsuarioError
                  }"
                />
                <label class="form-check-label" for="tipoRelacionProveedor"
                  >Proveedor</label
                >
                <div class="invalid-feedback">
                  {{
                    !validacionUsuarioError
                      ? "Este campo es (*) obligatorio, seleccione una opcion."
                      : "No se ha entrado ningun registro con los datos ingresados, verifiquelos y vuelva a intentarlo, o realice el proceso de registro aqui."
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="formIndex === 1" class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="row-12">
              <h5 class="card-title text-center">Informacion de usuario</h5>
            </div>
            <div *ngIf="tipoDePersona === 'Natural'" class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="identification"
                  (input)="onFieldChange()"
                  type="text"
                  class="form-control"
                  name="floatingInputIdentificacion"
                  id="floatingInputIdentificacion"
                  placeholder="x"
                  [ngClass]="{
                    'is-valid':
                      identification.length === 8 ||
                      identification.length === 10,
                    'is-invalid':
                      (identification.length !== 8 &&
                        identification.length !== 10) ||
                      validacionUsuarioError
                  }"
                  maxlength="10"
                  [OnlyNumbers]="true"
                />
                <label for="floatingInputIdentificacion"
                  >Numero de cedula de ciudadania<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  {{
                    !validacionUsuarioError
                      ? "Este campo es (*) obligatorio, rellenelo."
                      : "No se ha entrado ningun registro con los datos ingresados, verifiquelos y vuelva a intentarlo, o realice el proceso de registro aqui."
                  }}
                </div>
              </div>
            </div>
            <div *ngIf="tipoDePersona === 'Juridica'" class="col-12">
              <label for="inputNIT1" class="form-label"
                >NIT (Con digito de verificacion) Ej. 890507890-4<span
                  class="text-danger"
                  >*</span
                ></label
              >
              <div class="input-group">
                <input
                  [(ngModel)]="identification"
                  (input)="onFieldChange()"
                  type="text"
                  class="form-control"
                  placeholder="NIT Ej. 890507890"
                  aria-label="NIT Ej. 890507890"
                  [ngClass]="{
                    'is-valid': identification.length === 9,
                    'is-invalid':
                      identification.length !== 9 || validacionUsuarioError
                  }"
                  style="z-index: 0"
                  name="inputNIT1"
                  maxlength="9"
                  [OnlyNumbers]="true"
                />
                <span class="input-group-text">-</span>
                <input
                  [(ngModel)]="digitoDeVerificacion"
                  (change)="onFieldChange()"
                  type="text"
                  class="form-control"
                  placeholder="Digito de verificacion Ej. 4"
                  aria-label="Digito de verificacion Ej. 4"
                  [ngClass]="{
                    'is-valid': digitoDeVerificacion.length === 1,
                    'is-invalid':
                      digitoDeVerificacion.length !== 1 ||
                      validacionUsuarioError
                  }"
                  style="z-index: 0"
                  name="inputNIT2"
                  maxlength="1"
                  [OnlyNumbers]="true"
                />
                <div class="invalid-feedback">
                  {{
                    !validacionUsuarioError
                      ? "Este campo es (*) obligatorio, rellenelo."
                      : "No se ha entrado ningun registro con los datos ingresados, verifiquelos y vuelva a intentarlo, o realice el proceso de registro aqui."
                  }}
                </div>
              </div>
            </div>
            <div class="col-9 col-md-10 col-xl-11">
              <div class="form-floating">
                <input
                  [ngClass]="{
                    'is-valid': isValid(formIndex),
                    'is-invalid':
                      !validateEmail(email) || validacionUsuarioError
                  }"
                  (input)="onFieldChange()"
                  [(ngModel)]="email"
                  type="email"
                  class="form-control"
                  id="correo"
                  name="correo"
                  placeholder="x"
                />
                <label for="correo">Correo electronico</label>
                <div class="invalid-feedback">
                  {{
                    !validacionUsuarioError
                      ? "Este campo es (*) obligatorio, rellenelo."
                      : "No se ha entrado ningun registro con los datos ingresados, verifiquelos y vuelva a intentarlo, o realice el proceso de registro aqui."
                  }}
                </div>
              </div>
            </div>
            <div class="col-3 col-md-2 col-xl-1 d-grid grap-2 mx-auto">
              <button
                [disabled]="
                  !(tipoDePersona === 'Natural'
                    ? identification && validateEmail(email)
                    : identification &&
                      digitoDeVerificacion &&
                      validateEmail(email))
                "
                (click)="btnValidarUsuarioClick()"
                class="btn btn-primary"
              >
                Validar
              </button>
            </div>
            <!--<div *ngIf="flowUser" class="col-9 col-md-10 col-xl-11">
              <div class="form-floating">
                <input
                  [ngClass]="{
                    'is-invalid': !verificationCode || !authValidation,
                    'is-valid': authValidation
                  }"
                  (change)="resetTwoFactValidation()"
                  [(ngModel)]="authCode"
                  type="text"
                  class="form-control"
                  id="twoFactorFloatingInput"
                  name="twoFactorFloatingInput"
                  placeholder=""
                />
                <label for="twoFactorFloatingInput"
                  >Codigo de autentificacion</label
                >
                <div class="invalid-feedback">
                  {{
                    !authCode
                      ? "Este campo es (*) obligatorio, rellenelo."
                      : "El codigo ingresado no coincide con el generado."
                  }}
                </div>
              </div>
            </div>
            <div
              *ngIf="flowUser"
              class="col-3 col-md-2 col-xl-1 d-grid grap-2 mx-auto"
            >
              <button
                class="btn btn-primary"
                (click)="btnValidateTwoFactorClick()"
              >
                Validar
              </button>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="formIndex === 2" class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="row-12">
              <h5 class="card-title text-center">Tipo de gestion</h5>
            </div>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="tipoSoporteContable"
              (change)="onFieldChange()"
              class="form-check-input"
              type="radio"
              name="tipoSoporteContable0"
              id="tipoSoporteContable0"
              value="Cuenta de cobro"
            />
            <label class="form-check-label" for="tipoSoporteContable0">
              {{
                tipoDeRelacion === "Proveedor"
                  ? "Cuenta de cobro o factura"
                  : "Cuenta de cobro"
              }}
            </label>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="tipoSoporteContable"
              (change)="onFieldChange()"
              class="form-check-input"
              type="radio"
              name="tipoSoporteContable1"
              id="tipoSoporteContable1"
              value="Anticipo"
            />
            <label class="form-check-label" for="tipoSoporteContable1">
              Anticipo
            </label>
          </div>
          <div class="form-check">
            <input
              [(ngModel)]="tipoSoporteContable"
              (change)="onFieldChange()"
              class="form-check-input"
              type="radio"
              name="tipoSoporteContable2"
              id="tipoSoporteContable2"
              value="Legalizacion"
              disabled
            />
            <label class="form-check-label" for="tipoSoporteContable2">
              Legalizacion
            </label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="formIndex === 3" class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-12">
              <h5 class="card-title text-center">{{ tipoDePersona }} - {{ tipoDeRelacion }} - {{ tipoSoporteContable }}</h5>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <select
                  [(ngModel)]="convenio"
                  class="form-select"
                  id="convenio"
                  name="convenio"
                  [ngClass]="{
                    'is-valid': convenio,
                    'is-invalid': !convenio
                  }"
                >
                  <option selected disabled></option>
                  <option
                    *ngFor="let convenio of convenios"
                    value="convenio.Numero"
                  >
                    {{ convenio.Aliado + " | " + convenio.Numero }}
                  </option>
                </select>
                <label for="convenio">Convenio</label>
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, seleccione una opcion.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label
                for="fieldCuentaCobroFacturaFiles"
                class="form-label"
                >Cuenta de cobro<span class="text-danger">*</span>
              </label>
              <input
                (change)="whenCuentaCobroFacturaFilesChange($event)"
                accept="text/csv, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg, image/png, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/plain, application/vnd.visio, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/xml, text/xml"
                class="form-control"
                type="file"
                id="fieldCuentaCobroFacturaFiles"
                name="fieldCuentaCobroFacturaFiles"
                multiple
                [ngClass]="{
                  'is-valid': cuentaCobroFacturaFiles.length > 0,
                  'is-invalid': cuentaCobroFacturaFiles.length === 0
                }"
              />
              <div class="invalid-feedback">
                Este campo es (*) obligatorio, cargue almenos 1 archivo.
              </div>
              <div
                *ngIf="cuentaCobroFacturaFiles.length > 0"
                class="container"
              >
                <div
                  *ngFor="
                    let cuentaCobroFacturaFile of cuentaCobroFacturaFiles
                  "
                  class="
                    row
                    justify-content-center
                    align-items-center
                    mt-3
                    border-start border-top border-primary border-1
                  "
                >
                  <div *ngIf="false" class="col-1">
                    <img
                      width="50px"
                      height="50px"
                      src="{{
                        cuentaCobroFacturaFile.Uploaded
                          ? '../../../../assets/delete.png'
                          : '../../../../assets/loading.svg'
                      }}"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-11">
                    <h5 class="mb-0">
                      {{ cuentaCobroFacturaFile.Index }}.
                      {{ cuentaCobroFacturaFile.Name }}
                    </h5>
                  </div>
                  <div class="col-1 gx-0">
                    <a href="javascript:;">
                      <img
                        (click)="
                          onDeleteCobroFacturaFile(
                            cuentaCobroFacturaFile.Index
                          )
                        "
                        width="50px"
                        height="50px"
                        src="{{
                          cuentaCobroFacturaFile.Uploaded
                            ? '../../../../assets/delete.png'
                            : '../../../../assets/loading.svg'
                        }}"
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="fieldFacturaEquivalenteFiles" class="form-label"
                >Factura equivalente (Si aplica)<span class="text-danger"
                  >*</span
                ></label
              >
              <input
                (change)="whenFacturaEquivalenteFilesChange($event)"
                accept="text/csv, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg, image/png, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/plain, application/vnd.visio, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/xml, text/xml"
                class="form-control"
                type="file"
                id="fieldFacturaEquivalenteFiles"
                name="fieldFacturaEquivalenteFiles"
                multiple
                [ngClass]="{
                  'is-valid': facturaEquivalenteFiles.length > 0,
                  'is-invalid': facturaEquivalenteFiles.length === 0
                }"
              />
              <div class="invalid-feedback">
                Este campo es (*) obligatorio, cargue almenos 1 archivo.
              </div>
              <div *ngIf="facturaEquivalenteFiles.length > 0" class="container">
                <div
                  *ngFor="let facturaEquivalenteFile of facturaEquivalenteFiles"
                  class="
                    row
                    justify-content-center
                    align-items-center
                    mt-3
                    border-start border-top border-primary border-1
                  "
                >
                  <div *ngIf="false" class="col-1">
                    <img
                      width="50px"
                      height="50px"
                      src="{{
                        facturaEquivalenteFile.Uploaded
                          ? '../../../../assets/delete.png'
                          : '../../../../assets/loading.svg'
                      }}"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-11">
                    <h5 class="mb-0">
                      {{ facturaEquivalenteFile.Index }}.
                      {{ facturaEquivalenteFile.Name }}
                    </h5>
                  </div>
                  <div class="col-1 gx-0">
                    <a href="javascript:;">
                      <img
                        (click)="
                          onDeleteFacturaEquivalenteFilesClick(
                            facturaEquivalenteFile.Index
                          )
                        "
                        width="50px"
                        height="50px"
                        src="{{
                          facturaEquivalenteFile.Uploaded
                            ? '../../../../assets/delete.png'
                            : '../../../../assets/loading.svg'
                        }}"
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label
                for="fieldPagoSeguridadSocialFiles"
                class="form-label"
                >{{ tipoDeRelacion === 'Proveedor' ? 'Pago de seguridad social vigente (pagado)' : 'Certificado de
                parafiscales' }}<span class="text-danger">*</span></label
              >
              <input
                (change)="whenSeguridadSocialParafiscalesFilesChange($event)"
                accept="text/csv, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg, image/png, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/plain, application/vnd.visio, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/xml, text/xml"
                class="form-control"
                type="file"
                id="formFileMultipleRUT"
                multiple
                [ngClass]="{
                  'is-valid': seguridadSocialParafiscalesFiles.length > 0,
                  'is-invalid': seguridadSocialParafiscalesFiles.length === 0
                }"
              />
              <div class="invalid-feedback">
                Este campo es (*) obligatorio, cargue almenos 1 archivo.
              </div>
              <div
                *ngIf="seguridadSocialParafiscalesFiles.length > 0"
                class="container"
              >
                <div
                  *ngFor="
                    let seguridadSocialParafiscalesFile of seguridadSocialParafiscalesFiles
                  "
                  class="
                    row
                    justify-content-center
                    align-items-center
                    mt-3
                    border-start border-top border-primary border-1
                  "
                >
                  <div *ngIf="false" class="col-1">
                    <img
                      width="50px"
                      height="50px"
                      src="{{
                        seguridadSocialParafiscalesFile.Uploaded
                          ? '../../../../assets/delete.png'
                          : '../../../../assets/loading.svg'
                      }}"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-11">
                    <h5 class="mb-0">
                      {{ seguridadSocialParafiscalesFile.Index }}.
                      {{ seguridadSocialParafiscalesFile.Name }}
                    </h5>
                  </div>
                  <div class="col-1 gx-0">
                    <a href="javascript:;">
                      <img
                        (click)="
                          onDeleteSeguridadSocialParafiscalesFilesClick(
                            seguridadSocialParafiscalesFile.Index
                          )
                        "
                        width="50px"
                        height="50px"
                        src="{{
                          seguridadSocialParafiscalesFile.Uploaded
                            ? '../../../../assets/delete.png'
                            : '../../../../assets/loading.svg'
                        }}"
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <label
                for="formFileMultipleinformeActividadesFiles"
                class="form-label"
                >Informe de actividades<span class="text-danger">*</span></label
              >
              <input
                (change)="whenInformeActividadesFilesChange($event)"
                accept="text/csv, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg, image/png, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/plain, application/vnd.visio, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/xml, text/xml"
                class="form-control"
                type="file"
                id="formFileMultipleRUT"
                multiple
                [ngClass]="{
                  'is-valid': informeActividadesFiles.length > 0,
                  'is-invalid': informeActividadesFiles.length === 0
                }"
              />
              <div class="invalid-feedback">
                Este campo es (*) obligatorio, cargue almenos 1 archivo.
              </div>
              <div *ngIf="informeActividadesFiles.length > 0" class="container">
                <div
                  *ngFor="let informeActividadesFile of informeActividadesFiles"
                  class="
                    row
                    justify-content-center
                    align-items-center
                    mt-3
                    border-start border-top border-primary border-1
                  "
                >
                  <div *ngIf="false" class="col-1">
                    <img
                      width="50px"
                      height="50px"
                      src="{{
                        informeActividadesFile.Uploaded
                          ? '../../../../assets/delete.png'
                          : '../../../../assets/loading.svg'
                      }}"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-11">
                    <h5 class="mb-0">
                      {{ informeActividadesFile.Index }}.
                      {{ informeActividadesFile.Name }}
                    </h5>
                  </div>
                  <div class="col-1 gx-0">
                    <a href="javascript:;">
                      <img
                        (click)="
                          onDeleteInformeActividadesFilesClick(
                            informeActividadesFile.Index
                          )
                        "
                        width="50px"
                        height="50px"
                        src="{{
                          informeActividadesFile.Uploaded
                            ? '../../../../assets/delete.png'
                            : '../../../../assets/loading.svg'
                        }}"
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="infoAdicional"
                  (input)="onFieldChange()"
                  type="text"
                  class="form-control"
                  name="floatingInputInfoAdicional"
                  id="floatingInputInfoAdicional"
                  placeholder="x"
                  [ngClass]="{
                    'is-valid': infoAdicional,
                    'is-invalid': !infoAdicional
                  }"
                  maxlength="255"
                />
                <label for="floatingInputInfoAdicional"
                  >Informacion adicional<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="formIndex > 0" class="d-grid gap-2 col-6 mx-auto mb-2">
      <button
        [disabled]="!btnPrevious"
        (click)="btnPreviousClick()"
        class="btn btn-primary"
      >
        Anterior
      </button>
    </div>
    <div
      *ngIf="formIndex !== 3"
      [ngClass]="{ 'col-12': formIndex === 0, 'col-6': formIndex !== 0 }"
      class="d-grid gap-2 mx-auto mb-2"
    >
      <button
        [disabled]="!btnNext"
        (click)="btnNextClick()"
        class="btn btn-primary"
      >
        Siguiente
      </button>
    </div>
    <div *ngIf="formIndex === 3" class="d-grid gap-2 col-6 mx-auto mb-2">
      <button (click)="btnSubmitClick()" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>
