<nav
  class="navbar navbar-expand-lg sticky-top navbar-dark"
  style="background-color: rgb(0, 92, 230, 0.95)"
>
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/logo.png" alt="" height="40px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            [ngClass]="{ active: isRoute('/') }"
            class="nav-link text-white"
            aria-current="page"
            [routerLink]="['/']"
            >Inicio</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            [ngClass]="{ active: startWithRoute('/forms/financiera/') }"
            class="nav-link dropdown-toggle text-white"
            id="navbarScrollingDropdown"
            name="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Colaborador o proveedor
          </a>
          <ul
            class="dropdown-menu text-white"
            aria-labelledby="navbarScrollingDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/forms/financiera/registration']"
                >Registro colaborador o proveedor</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/forms/financiera/invoice']"
                >Gestion de cuentas colaborador o proveedor
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            [ngClass]="{
              active: isRoute('/forms/certificadosingresosretenciones')
            }"
            class="nav-link text-white"
            aria-current="page"
            [routerLink]="['/forms/certificadosingresosretenciones']"
            >Certificados de ingresos y retenciones</a
          >
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item dropdown">
          <a
            [ngClass]="{
              active: isRoute('/forms/juridica') || isRoute('/forms/compras')
            }"
            class="nav-link dropdown-toggle text-white"
            id="navbarScrollingDropdownGestion"
            name="navbarScrollingDropdownGestion"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Gestiones juridicas
          </a>
          <ul
            class="dropdown-menu text-white"
            aria-labelledby="navbarScrollingDropdownGestion"
          >
            <li>
              <a class="dropdown-item" [routerLink]="['/forms/juridica']"
                >Juridica</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/forms/compras']"
                >Compras
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a
            [ngClass]="{
              active: isRoute('/forms/tiquetes')
            }"
            class="nav-link text-white"
            aria-current="page"
            [routerLink]="['/forms/tiquetes']"
            >Tiquetes</a
          >
        </li>
      </ul>
      <a *ngIf="isLoggedIn()" class="navbar-brand" href="#">
        <img
          class="me-lg-1 me-lg-2 mb-2 mb-lg-0 border border-ligth rounded-circle border-3"
          [src]="loggedInUserAvatar()"
          alt=""
          height="40px"
        />
        {{ loggedInUserName() }}
      </a>
      <div class="d-flex">
        <a
          (mouseover)="onMouseOverLoginButton()"
          (mouseout)="onMouseOutLoginButton()"
          [routerLink]="['/login']"
          (click)="userLogout()"
          [ngClass]="{
            'text-light': !mouseOverLoginButton,
            'text-dark': mouseOverLoginButton
          }"
          class="btn btn-outline-light"
          >{{ isLoggedIn() ? "Cerrar sesion" : "Iniciar sesion" }}</a
        >
      </div>
    </div>
  </div>
</nav>
