<div *ngIf="formJuridica" class="row g-3">
  <div class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">
            {{
              formJuridica
                ? formJuridica.TipoProceso +
                  " - " +
                  formJuridica.TipoPersona +
                  " - " +
                  (formJuridica.TipoAdquisicion === "Otro"
                    ? formJuridica.TipoAdquisicionOtro
                    : formJuridica.TipoAdquisicion)
                : ""
            }}
          </h5>
        </div>
        <!--Bienes-->
        <div *ngIf="formJuridica.TipoAdquisicion === 'Bienes'" class="col-12">
          <div class="row g-3">
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="tipoInmueble"
                  (input)="invalidatePreview()"
                  name="floatingTextareaTipoInmueble"
                  id="floatingTextareaTipoInmueble"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': tipoInmueble,
                    'is-invalid': !tipoInmueble
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaTipoInmueble"
                  >Tipo de inmueble</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="nombreArrendador"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNombreArrendador"
                  id="floatingTextareaNombreArrendador"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': nombreArrendador,
                    'is-invalid': !nombreArrendador
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaNombreArrendador"
                  >Nombre del arrendador</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="numeroNit"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNumeroNit"
                  id="floatingTextareaNumeroNit"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': numeroNit,
                    'is-invalid': !numeroNit
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaNumeroNit">Numero de NIT</label>
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="nombreRepresentanteLegal"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNombreRepresentanteLegal"
                  id="floatingTextareaNombreRepresentanteLegal"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': nombreRepresentanteLegal,
                    'is-invalid': !nombreRepresentanteLegal
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaNombreRepresentanteLegal"
                  >Nombre del representante legal</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="ciudadDondeReside"
                  (input)="invalidatePreview()"
                  name="floatingTextareaCiudadDondeReside"
                  id="floatingTextareaCiudadDondeReside"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': ciudadDondeReside,
                    'is-invalid': !ciudadDondeReside
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaCiudadDondeReside"
                  >Ciudad donde reside</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="numeroCedula"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNumeroCedula"
                  id="floatingTextareaNumeroCedula"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': numeroCedula,
                    'is-invalid': !numeroCedula
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaNumeroCedula"
                  >Numero de cedula</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="ciudadExpedicion"
                  (input)="invalidatePreview()"
                  name="floatingTextareaCiudadExpedicion"
                  id="floatingTextareaCiudadExpedicion"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': ciudadExpedicion,
                    'is-invalid': !ciudadExpedicion
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaCiudadExpedicion"
                  >Ciudad de expedicion</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="detalleInmueble"
                  (input)="invalidatePreview()"
                  name="floatingTextareaDetalleInmueble"
                  id="floatingTextareaDetalleInmueble"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': detalleInmueble,
                    'is-invalid': !detalleInmueble
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaDetalleInmueble"
                  >Detalle del inmueble</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="ubicacionInmueble"
                  (input)="invalidatePreview()"
                  name="floatingTextareaUbicacionInmueble"
                  id="floatingTextareaUbicacionInmueble"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': ubicacionInmueble,
                    'is-invalid': !ubicacionInmueble
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaUbicacionInmueble"
                  >Ubicacion del inmueble</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="barrio"
                  (input)="invalidatePreview()"
                  name="floatingTextareaBarrio"
                  id="floatingTextareaBarrio"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': barrio,
                    'is-invalid': !barrio
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaBarrio">Barrio</label>
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="ciudadInmueble"
                  (input)="invalidatePreview()"
                  name="floatingTextareaCiudadInmueble"
                  id="floatingTextareaCiudadInmueble"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': ciudadInmueble,
                    'is-invalid': !ciudadInmueble
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaCiudadInmueble"
                  >Ciudad del inmueble</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="inmueble"
                  (input)="invalidatePreview()"
                  name="floatingTextareaInmueble"
                  id="floatingTextareaInmueble"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': inmueble,
                    'is-invalid': !inmueble
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaInmueble">Inmueble</label>
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="mesesContrato"
                  (input)="invalidatePreview()"
                  name="floatingTextareaMesesContrato"
                  id="floatingTextareaMesesContrato"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': mesesContrato,
                    'is-invalid': !mesesContrato
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaMesesContrato"
                  >Meses del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="diaInicio"
                  (input)="invalidatePreview()"
                  name="floatingTextareaDiaInicio"
                  id="floatingTextareaDiaInicio"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': diaInicio,
                    'is-invalid': !diaInicio
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaDiaInicio"
                  >Dia de inicio del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="mesInicio"
                  (input)="invalidatePreview()"
                  name="floatingTextareaMesInicio"
                  id="floatingTextareaMesInicio"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': mesInicio,
                    'is-invalid': !mesInicio
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaMesInicio"
                  >Mes de inicio del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="anoInicio"
                  (input)="invalidatePreview()"
                  name="floatingTextareaAnoInicio"
                  id="floatingTextareaAnoInicio"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': anoInicio,
                    'is-invalid': !anoInicio
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaAnoInicio"
                  >Año de inicio del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="diaFin"
                  (input)="invalidatePreview()"
                  name="floatingTextareaDiaFin"
                  id="floatingTextareaDiaFin"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': diaFin,
                    'is-invalid': !diaFin
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaDiaFin"
                  >Dia de fin del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="mesFin"
                  (input)="invalidatePreview()"
                  name="floatingTextareaMesFin"
                  id="floatingTextareaMesFin"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': mesFin,
                    'is-invalid': !mesFin
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaMesFin"
                  >Mes de fin del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="anoFin"
                  (input)="invalidatePreview()"
                  name="floatingTextareaAnoFin"
                  id="floatingTextareaAnoFin"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': anoFin,
                    'is-invalid': !anoFin
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaAnoFin"
                  >Año de fin del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="valorContrato"
                  (input)="invalidatePreview()"
                  name="floatingTextareaValorContrato"
                  id="floatingTextareaValorContrato"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': valorContrato,
                    'is-invalid': !valorContrato
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaValorContrato"
                  >Valor del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="valorCanonMensual"
                  (input)="invalidatePreview()"
                  name="floatingTextareaValorCanonMensual"
                  id="floatingTextareaValorCanonMensual"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': valorCanonMensual,
                    'is-invalid': !valorCanonMensual
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaValorCanonMensual"
                  >Valor canones mensuales del contrato</label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field1"
              name="floatingTextareaField1"
              id="floatingTextareaField1"
              class="form-control"
              [ngClass]="{
                'is-valid': field1,
                'is-invalid': !field1
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField1">Field 1</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field2"
              (input)="invalidatePreview()"
              name="floatingTextareaField2"
              id="floatingTextareaField2"
              class="form-control"
              [ngClass]="{
                'is-valid': field2,
                'is-invalid': !field2
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField2">Field 2</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field3"
              (input)="invalidatePreview()"
              name="floatingTextareaField3"
              id="floatingTextareaField3"
              class="form-control"
              [ngClass]="{
                'is-valid': field3,
                'is-invalid': !field3
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField3">Field 3</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field4"
              (input)="invalidatePreview()"
              name="floatingTextareaField4"
              id="floatingTextareaField4"
              class="form-control"
              [ngClass]="{
                'is-valid': field4,
                'is-invalid': !field4
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField4">Field 4</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field5"
              (input)="invalidatePreview()"
              name="floatingTextareaField5"
              id="floatingTextareaField5"
              class="form-control"
              [ngClass]="{
                'is-valid': field5,
                'is-invalid': !field5
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField5">Field 5</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field6"
              (input)="invalidatePreview()"
              name="floatingTextareaField6"
              id="floatingTextareaField6"
              class="form-control"
              [ngClass]="{
                'is-valid': field6,
                'is-invalid': !field6
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField6">Field 6</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field7"
              (input)="invalidatePreview()"
              name="floatingTextareaField7"
              id="floatingTextareaField7"
              class="form-control"
              [ngClass]="{
                'is-valid': field7,
                'is-invalid': !field7
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField7">Field 7</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field8"
              (input)="invalidatePreview()"
              name="floatingTextareaField8"
              id="floatingTextareaField8"
              class="form-control"
              [ngClass]="{
                'is-valid': field8,
                'is-invalid': !field8
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField8">Field 8</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field9"
              (input)="invalidatePreview()"
              name="floatingTextareaField9"
              id="floatingTextareaField9"
              class="form-control"
              [ngClass]="{
                'is-valid': field9,
                'is-invalid': !field9
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField9">Field 9</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field10"
              (input)="invalidatePreview()"
              name="floatingTextareaField10"
              id="floatingTextareaField10"
              class="form-control"
              [ngClass]="{
                'is-valid': field10,
                'is-invalid': !field10
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField10">Field 10</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field11"
              (input)="invalidatePreview()"
              name="floatingTextareaField11"
              id="floatingTextareaField11"
              class="form-control"
              [ngClass]="{
                'is-valid': field11,
                'is-invalid': !field11
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField11">Field 11</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field12"
              (input)="invalidatePreview()"
              name="floatingTextareaField12"
              id="floatingTextareaField12"
              class="form-control"
              [ngClass]="{
                'is-valid': field12,
                'is-invalid': !field12
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField12">Field 12</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field13"
              (input)="invalidatePreview()"
              name="floatingTextareaField13"
              id="floatingTextareaField13"
              class="form-control"
              [ngClass]="{
                'is-valid': field13,
                'is-invalid': !field13
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField13">Field 13</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field14"
              (input)="invalidatePreview()"
              name="floatingTextareaField14"
              id="floatingTextareaField14"
              class="form-control"
              [ngClass]="{
                'is-valid': field14,
                'is-invalid': !field14
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField14">Field 14</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field15"
              (input)="invalidatePreview()"
              name="floatingTextareaField15"
              id="floatingTextareaField15"
              class="form-control"
              [ngClass]="{
                'is-valid': field15,
                'is-invalid': !field15
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField15">Field 15</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field16"
              (input)="invalidatePreview()"
              name="floatingTextareaField16"
              id="floatingTextareaField16"
              class="form-control"
              [ngClass]="{
                'is-valid': field16,
                'is-invalid': !field16
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField16">Field 16</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field17"
              (input)="invalidatePreview()"
              name="floatingTextareaField17"
              id="floatingTextareaField17"
              class="form-control"
              [ngClass]="{
                'is-valid': field17,
                'is-invalid': !field17
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField17">Field 17</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field18"
              (input)="invalidatePreview()"
              name="floatingTextareaField18"
              id="floatingTextareaField18"
              class="form-control"
              [ngClass]="{
                'is-valid': field18,
                'is-invalid': !field18
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField18">Field 18</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field19"
              (input)="invalidatePreview()"
              name="floatingTextareaField19"
              id="floatingTextareaField19"
              class="form-control"
              [ngClass]="{
                'is-valid': field19,
                'is-invalid': !field19
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField19">Field 19</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field20"
              (input)="invalidatePreview()"
              name="floatingTextareaField20"
              id="floatingTextareaField20"
              class="form-control"
              [ngClass]="{
                'is-valid': field20,
                'is-invalid': !field20
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField20">Field 20</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field21"
              (input)="invalidatePreview()"
              name="floatingTextareaField21"
              id="floatingTextareaField21"
              class="form-control"
              [ngClass]="{
                'is-valid': field21,
                'is-invalid': !field21
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField21">Field 21</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field22"
              (input)="invalidatePreview()"
              name="floatingTextareaField22"
              id="floatingTextareaField22"
              class="form-control"
              [ngClass]="{
                'is-valid': field22,
                'is-invalid': !field22
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField22">Field 22</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field23"
              (input)="invalidatePreview()"
              name="floatingTextareaField23"
              id="floatingTextareaField23"
              class="form-control"
              [ngClass]="{
                'is-valid': field23,
                'is-invalid': !field23
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField23">Field 23</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field24"
              (input)="invalidatePreview()"
              name="floatingTextareaField24"
              id="floatingTextareaField24"
              class="form-control"
              [ngClass]="{
                'is-valid': field24,
                'is-invalid': !field24
              }"
              placeholder="\0"
            ></textarea>
            <label for="floatingTextareaField24">Field 24</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea
              [(ngModel)]="field25"
              (input)="invalidatePreview()"
              name="floatingTextareaField25"
              id="floatingTextareaField25"
              placeholder="\0"
              class="form-control"
              [ngClass]="{
                'is-valid': field25,
                'is-invalid': !field25
              }"
            ></textarea>
            <label for="floatingTextareaField25">Field 25</label>
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mb-2">
          <button
            class="btn btn-primary"
            (click)="btnPreviewClick()"
            role="button"
            [disabled]="!isValidPreview()"
          >
            Pre visualizar
          </button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mb-2">
          <button
            class="btn btn-primary"
            (click)="btnSubmitClick()"
            role="button"
            [disabled]="!isValid()"
          >
            Generar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
