<div *ngIf="juridica" class="row g-3">
  <div class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">
            {{
              juridica
                ? juridica.TipoProceso +
                  " - " +
                  juridica.TipoPersona +
                  " - " +
                  (juridica.TipoAdquisicion === "Otro"
                    ? juridica.TipoAdquisicionOtro
                    : juridica.TipoAdquisicion)
                : ""
            }}
          </h5>
        </div>
        <!--Natural-->
        <div *ngIf="juridica.TipoPersona === 'Natural'" class="col-12">
          <div class="row g-3">
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="dia"
                  (input)="invalidatePreview()"
                  name="floatingTextareaDia"
                  id="floatingTextareaDia"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': dia,
                    'is-invalid': !dia
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaDia"
                  >Dia<strong class="text-danger">*</strong></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="numeroPliego"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNumeroPliego"
                  id="floatingTextareaNumeroPliego"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': numeroPliego,
                    'is-invalid': !numeroPliego
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaDia"
                  >Numero de pliego<strong class="text-danger">*</strong></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="numeroConvenio"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNumeroConvenio"
                  id="floatingTextareaNumeroConvenio"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': numeroConvenio,
                    'is-invalid': !numeroConvenio
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaNumeroConvenio"
                  >Numero de convenio<strong class="text-danger"
                    >*</strong
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="fechaConvenio"
                  (input)="invalidatePreview()"
                  name="floatingTextareaFechaConvenio"
                  id="floatingTextareaFechaConvenio"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': fechaConvenio,
                    'is-invalid': !fechaConvenio
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaFechaConvenio"
                  >Fecha de convenio<strong class="text-danger"
                    >*</strong
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="nombreEntidad"
                  (input)="invalidatePreview()"
                  name="floatingTextareaNombreEntidad"
                  id="floatingTextareaNombreEntidad"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': nombreEntidad,
                    'is-invalid': !nombreEntidad
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaNombreEntidad"
                  >Nombre entidad<strong class="text-danger">*</strong></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="objetoContrato"
                  (input)="invalidatePreview()"
                  name="floatingTextareaObjetoContrato"
                  id="floatingTextareaObjetoContrato"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': objetoContrato,
                    'is-invalid': !objetoContrato
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaObjetoContrato"
                  >Objeto del contrato<strong class="text-danger"
                    >*</strong
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  [(ngModel)]="objetoGeneral"
                  (input)="invalidatePreview()"
                  name="floatingTextareaObjetoGeneral"
                  id="floatingTextareaObjetoGeneral"
                  class="form-control"
                  [ngClass]="{
                    'is-valid': objetoGeneral,
                    'is-invalid': !objetoGeneral
                  }"
                  placeholder="\0"
                ></textarea>
                <label for="floatingTextareaObjetoGeneral"
                  >Objeto general<strong class="text-danger">*</strong></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div
              [ngClass]="{ 'col-xl-6': tablaPerfiles.length > 0 }"
              class="col-12"
            >
              <div class="card">
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-12">
                      <h5 class="card-title text-center">
                        Actualizar perfiles del pliego
                      </h5>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          [(ngModel)]="tablaPerfilesNombrePerfil"
                          type="text"
                          class="form-control"
                          name="inputNombrePerfil"
                          id="inputNombrePerfil"
                          placeholder="\0"
                          maxlength="255"
                          [ngClass]="{
                            'is-valid': tablaPerfilesNombrePerfil,
                            'is-invalid': !tablaPerfilesNombrePerfil
                          }"
                        />
                        <label for="inputNombrePerfil"
                          >Nombre del perfil<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          [(ngModel)]="tablaPerfilesNumeroVacantes"
                          type="text"
                          class="form-control"
                          name="inputNumeroVacantes"
                          id="inputNumeroVacantes"
                          placeholder="\0"
                          maxlength="255"
                          [ngClass]="{
                            'is-valid': tablaPerfilesNumeroVacantes,
                            'is-invalid': !tablaPerfilesNumeroVacantes
                          }"
                        />
                        <label for="inputNumeroVacantes"
                          >Numero de vacantes<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          [(ngModel)]="tablaPerfilesRequisitosPerfil"
                          type="text"
                          class="form-control"
                          name="inputRequisitosPerfil"
                          id="inputRequisitosPerfil"
                          placeholder="\0"
                          maxlength="255"
                          [ngClass]="{
                            'is-valid': tablaPerfilesRequisitosPerfil,
                            'is-invalid': !tablaPerfilesRequisitosPerfil
                          }"
                        />
                        <label for="inputRequisitosPerfil"
                          >Requisitos del perfil<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo.
                        </div>
                      </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mb-2">
                      <button
                        (click)="addPerfil()"
                        class="btn btn-primary"
                        [disabled]="!isValidPerfil()"
                      >
                        Añadir
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="tablaPerfiles.length > 0"
              class="table-responsive col-12 col-xl-6"
            >
              <div class="card">
                <div class="card-body">
                  <table
                    class="table table-borderless table-striped table-hover caption-top"
                  >
                    <caption>
                      Perfiles, puede eliminar alguno haciendo doble click sobre
                      el.
                    </caption>
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Rol a desempeñar</th>
                        <th scope="col">No. de vacantes</th>
                        <th scope="col">Perfil requerido</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let tablaPerfil of tablaPerfiles"
                        (dblclick)="removePerfil(tablaPerfil.numeroPerfil)"
                      >
                        <th scope="row">{{ tablaPerfil.numeroPerfil }}</th>
                        <td>{{ tablaPerfil.nombrePerfil }}</td>
                        <td>{{ tablaPerfil.numeroVacantes }}</td>
                        <td>{{ tablaPerfil.requisitosPerfil }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              [ngClass]="{ 'col-xl-6': tablaObjetosObligaciones.length > 0 }"
              class="col-12"
            >
              <div class="card">
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-12">
                      <h5 class="card-title text-center">
                        Actualizar objetos y obligaciones especificas
                      </h5>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          [(ngModel)]="tablaObjetosObligacionesNombrePerfil"
                          type="text"
                          class="form-control"
                          name="inputObjetosObligacionesNombrePerfil"
                          id="inputObjetosObligacionesNombrePerfil"
                          placeholder="\0"
                          maxlength="255"
                          [ngClass]="{
                            'is-valid': tablaObjetosObligacionesNombrePerfil,
                            'is-invalid': !tablaObjetosObligacionesNombrePerfil
                          }"
                        />
                        <label for="inputNombrePerfil"
                          >Nombre del perfil<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          [(ngModel)]="
                            tablaObjetosObligacionesObjetoContratacion
                          "
                          type="text"
                          class="form-control"
                          name="inputObjetosObligacionesObjetoContratacion"
                          id="inputObjetosObligacionesObjetoContratacion"
                          placeholder="\0"
                          maxlength="255"
                          [ngClass]="{
                            'is-valid':
                              tablaObjetosObligacionesObjetoContratacion,
                            'is-invalid':
                              !tablaObjetosObligacionesObjetoContratacion
                          }"
                        />
                        <label for="inputObjetosObligacionesObjetoContratacion"
                          >Objeto de contratacion<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          [(ngModel)]="tablaObjetosObligacionesObligaciones"
                          type="text"
                          class="form-control"
                          name="inputObjetosObligacionesObligaciones"
                          id="inputObjetosObligacionesObligaciones"
                          placeholder="\0"
                          maxlength="255"
                          [ngClass]="{
                            'is-valid': tablaObjetosObligacionesObligaciones,
                            'is-invalid': !tablaObjetosObligacionesObligaciones
                          }"
                        />
                        <label for="inputObjetosObligacionesObligaciones"
                          >Obligaciones<span class="text-danger">*</span></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo.
                        </div>
                      </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mb-2">
                      <button
                        (click)="addObjetoObligacion()"
                        class="btn btn-primary"
                        [disabled]="!isValidObjetoObligacion()"
                      >
                        Añadir
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="tablaObjetosObligaciones.length > 0"
              class="table-responsive col-12 col-xl-6"
            >
              <div class="card">
                <div class="card-body">
                  <table
                    class="table table-borderless table-striped table-hover caption-top"
                  >
                    <caption>
                      Objetos y obligaciones, puede eliminar alguno haciendo
                      doble click sobre el.
                    </caption>
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Rol a desempeñar</th>
                        <th scope="col">Objeto</th>
                        <th scope="col">Obligaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let tablaObjetoObligacion of tablaObjetosObligaciones
                        "
                        (dblclick)="
                          removeObjetoObligacion(
                            tablaObjetoObligacion.numeroObjetoObligacion
                          )
                        "
                      >
                        <th scope="row">
                          {{ tablaObjetoObligacion.numeroObjetoObligacion }}
                        </th>
                        <td>{{ tablaObjetoObligacion.nombrePerfil }}</td>
                        <td>{{ tablaObjetoObligacion.objetoContratacion }}</td>
                        <td>{{ tablaObjetoObligacion.obligaciones }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Juridica-->
        <div *ngIf="juridica.TipoPersona === 'Juridica'" class="col-12">
          <div class="row g-3"></div>
        </div>
        <!---->
        <div *ngIf="pdfUint8ArrayPliegos" class="col-12">
          <pdf-viewer
            [src]="pdfUint8ArrayPliegos"
            [render-text]="true"
            style="height: 500px"
          ></pdf-viewer>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mb-2">
          <button
            class="btn btn-primary"
            (click)="btnPreviewClick()"
            role="button"
            [disabled]="!isValidPreview()"
          >
            Pre visualizar
          </button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mb-2">
          <button
            class="btn btn-primary"
            (click)="btnSubmitClick()"
            role="button"
            [disabled]="!isValid()"
          >
            Generar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
