<form class="was-validated" (ngSubmit)="whenSubmit()">
  <div class="row g-3">
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="numero"
          type="text"
          class="form-control"
          id="inputTextNumero"
          name="inputTextNumero"
          placeholder="x"
          required
        />
        <label for="inputTextNumero">Numero del convenio<span class="text-danger">*</span></label>
        <div class="invalid-feedback">
          Este campo es (*) obligatorio, rellenelo.
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="nombre"
          type="text"
          class="form-control"
          id="inputTextNombre"
          name="inputTextNombre"
          placeholder="x"
          required
        />
        <label for="inputTextNombre">Nombre del convenio<span class="text-danger">*</span></label>
        <div class="invalid-feedback">
          Este campo es (*) obligatorio, rellenelo.
        </div>
      </div>
    </div>
    <div class="col-12">
      <label for="formFileMultipleAdjuntos" class="form-label"
        >Adjuntos<span class="text-danger">*</span></label
      >
      <input
        (change)="whenFileAdjuntosChange($event)"
        accept="text/csv, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg, image/png, application/pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/plain, application/vnd.visio, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/xml, text/xml"
        class="form-control"
        type="file"
        id="formFileMultipleAdjuntos"
        multiple
        [ngClass]="{
          'is-valid': adjuntosFiles.length > 0,
          'is-invalid': adjuntosFiles.length === 0
        }"
        [required]="adjuntosFiles.length === 0"
      />
      <div class="invalid-feedback">
        Este campo es (*) obligatorio, cargue almenos 1 archivo.
      </div>
      <div *ngIf="adjuntosFiles.length > 0" class="container">
        <div
          *ngFor="let adjuntosFile of adjuntosFiles"
          class="
            row
            justify-content-center
            align-items-center
            mt-3
            border-start border-top border-primary border-1
          "
        >
          <div class="col-11">
            <h5 class="mb-0">{{ adjuntosFile.Index }}. {{ adjuntosFile.Name }}</h5>
          </div>
          <div class="col-1 gx-0">
            <a href="javascript:;"
              ><img
                (click)="whenDeleteFileAdjuntosClick(adjuntosFile.Index)"
                width="50px"
                height="50px"
                src="{{
                  adjuntosFile.Uploaded
                    ? '../../../../assets/delete.png'
                    : '../../../../assets/loading.svg'
                }}"
                class="img-fluid"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-12">
      <div class="d-grid gap-2 col-xl-6 mx-auto">
        <button
          [disabled]="
            false
          "
          type="submit"
          class="btn btn-primary"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
