<form>
  <div id="firstElement" class="row g-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-12">
              <h5 class="card-title text-center">Coordinacion Logistica</h5>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="nombre"
                  type="text"
                  class="form-control"
                  name="inputNombre"
                  id="inputNombre"
                  placeholder="x"
                  [ngClass]="{
                    'is-valid': nombre,
                    'is-invalid': !nombre
                  }"
                  maxlength="255"
                />
                <label for="inputNombre"
                  >Nombre completo del viajante<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <select
                  [(ngModel)]="convenio"
                  class="form-select"
                  id="convenio"
                  name="convenio"
                  [ngClass]="{
                    'is-valid': convenio,
                    'is-invalid': !convenio
                  }"
                >
                  <option selected disabled></option>
                  <option
                    *ngFor="let convenio of convenios"
                    [value]="convenio.Numero"
                  >
                    {{ convenio.Aliado + " | " + convenio.Numero }}
                  </option>
                </select>
                <label for="convenio"
                  >Convenio<span class="text-danger">*</span></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, seleccione una opcion.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row g-3">
                <div class="col-12">
                  <label for="inputRuta"
                    >Ruta<span class="text-danger">*</span></label
                  >
                </div>
                <div id="inputRuta" name="inputRuta" class="col-12">
                  <div class="form-check">
                    <input
                      [(ngModel)]="ruta"
                      (change)="onRutaChange()"
                      class="form-check-input"
                      type="radio"
                      name="radioIdaRuta"
                      id="radioIdaRuta"
                      value="Ida"
                      [ngClass]="{ 'is-valid': ruta, 'is-invalid': !ruta }"
                    />
                    <label class="form-check-label" for="radioIdaRuta"
                      >Ida</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      [(ngModel)]="ruta"
                      (change)="onRutaChange()"
                      class="form-check-input"
                      type="radio"
                      name="radioIdaVueltaRuta"
                      id="radioIdaVueltaRuta"
                      value="Ida y vuelta"
                      [ngClass]="{ 'is-valid': ruta, 'is-invalid': !ruta }"
                    />
                    <label class="form-check-label" for="radioIdaVueltaRuta"
                      >Ida y vuelta</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      [(ngModel)]="ruta"
                      (change)="onRutaChange()"
                      class="form-check-input"
                      type="radio"
                      name="radioMultidestinoRuta"
                      id="radioMultidestinoRuta"
                      value="Multidestino"
                      [ngClass]="{ 'is-valid': ruta, 'is-invalid': !ruta }"
                    />
                    <label class="form-check-label" for="radioMultidestinoRuta"
                      >Multidestino</label
                    >
                  </div>
                  <div
                    *ngIf="!ruta"
                    class="text-danger"
                    style="font-size: 0.875em"
                  >
                    Este campo es (*) obligatorio, seleccione una opcion.
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let tramo of tramos" class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row g-3">
                    <div
                      [ngClass]="{
                        'col-12': ruta !== 'Multidestino',
                        'col-10': ruta === 'Multidestino'
                      }"
                    >
                      <h5 class="card-title">Tramo #{{ tramo.index + 1 }}</h5>
                    </div>
                    <div
                      *ngIf="ruta === 'Multidestino' && tramo.index > 1"
                      class="col-2 d-grid gap-2"
                    >
                      <button
                        (click)="btnRemoveTramoClick(tramo.index)"
                        type="button"
                        class="btn btn-primary"
                      >
                        Remover tramo
                      </button>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input
                          (change)="setOrigen(tramo.index, $event)"
                          type="text"
                          class="form-control"
                          name="inputOrigen{{ tramo.index }}"
                          id="inputOrigen{{ tramo.index }}"
                          placeholder="\0"
                          maxlength="32"
                          [ngClass]="{
                            'is-valid': airportIsValid(tramos[tramo.index].origen),
                            'is-invalid': !airportIsValid(tramos[tramo.index].origen)
                          }"
                        />
                        <label for="inputOrigen{{ tramo.index }}"
                          >Origen<span class="text-danger">*</span></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo con una opcion correcta.
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input
                          (change)="setDestino(tramo.index, $event)"
                          type="text"
                          class="form-control"
                          name="inputDestino{{ tramo.index }}"
                          id="inputDestino{{ tramo.index }}"
                          placeholder="\0"
                          maxlength="32"
                          [ngClass]="{
                            'is-valid': airportIsValid(tramos[tramo.index].destino),
                            'is-invalid': !airportIsValid(tramos[tramo.index].destino)
                          }"
                        />
                        <label for="inputDestino{{ tramo.index }}"
                          >Destino<span class="text-danger">*</span></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, rellenelo con una opcion correcta.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="fieldFechaIda" class="form-label"
                        >Fecha ida<span class="text-danger">*</span></label
                      >
                      <app-date-picker
                        [allowPass]="false"
                        (onDateChange)="setFechaIda(tramo.index, $event)"
                        name="fieldFechaIda"
                        id="fieldFechaIda"
                        requiredFeedbackYear="Este campo es (*) obligatorio, seleccione el año de ida."
                        requiredFeedbackMonth="Este campo es (*) obligatorio, seleccione el mes de ida."
                        requiredFeedbackDay="Este campo es (*) obligatorio, seleccione el dia de ida."
                      ></app-date-picker>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <select
                          [(ngModel)]="tramos[tramo.index].horaIda"
                          class="form-select"
                          id="horaIda"
                          name="horaIda"
                          [ngClass]="{
                            'is-valid': tramos[tramo.index].horaIda,
                            'is-invalid': !tramos[tramo.index].horaIda
                          }"
                        >
                          <option selected disabled></option>
                          <option value="05:00 - 8:00">05:00 - 8:00</option>
                          <option value="8:00 - 11:00">8:00 - 11:00</option>
                          <option value="11:00 - 14:00">11:00 - 14:00</option>
                          <option value="14:00 - 17:00">14:00 - 17:00</option>
                          <option value="17:00 - 20:00">17:00 - 20:00</option>
                          <option value="20:00 - 24:00">20:00 - 24:00</option>
                        </select>
                        <label for="horaIda"
                          >Horario de Ida preferido<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, seleccione una opcion.
                        </div>
                      </div>
                    </div>
                    <div *ngIf="ruta === 'Ida y vuelta'" class="col-12">
                      <label for="fieldFechaVuelta" class="form-label"
                        >Fecha vuelta</label
                      >
                      <app-date-picker
                        [allowPass]="false"
                        (onDateChange)="setFechaVuelta(tramo.index, $event)"
                        name="fieldFechaVuelta"
                        id="fieldFechaVuelta"
                        requiredFeedbackYear="Este campo es (*) obligatorio, seleccione el año de ida."
                        requiredFeedbackMonth="Este campo es (*) obligatorio, seleccione el mes de ida."
                        requiredFeedbackDay="Este campo es (*) obligatorio, seleccione el dia de ida."
                      ></app-date-picker>
                    </div>
                    <div *ngIf="ruta === 'Ida y vuelta'" class="col-12">
                      <div class="form-floating">
                        <select
                          [(ngModel)]="tramos[tramo.index].horaVuelta"
                          class="form-select"
                          id="horaVuelta"
                          name="horaVuelta"
                          [ngClass]="{
                            'is-valid': tramos[tramo.index].horaVuelta,
                            'is-invalid': !tramos[tramo.index].horaVuelta
                          }"
                        >
                          <option selected disabled></option>
                          <option value="05:00 - 8:00">05:00 - 8:00</option>
                          <option value="8:00 - 11:00">8:00 - 11:00</option>
                          <option value="11:00 - 14:00">11:00 - 14:00</option>
                          <option value="14:00 - 17:00">14:00 - 17:00</option>
                          <option value="17:00 - 20:00">17:00 - 20:00</option>
                          <option value="20:00 - 24:00">20:00 - 24:00</option>
                        </select>
                        <label for="horaVuelta"
                          >Horario de Vuelta preferido<span class="text-danger"
                            >*</span
                          ></label
                        >
                        <div class="invalid-feedback">
                          Este campo es (*) obligatorio, seleccione una opcion.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="ruta === 'Multidestino'"
              class="d-grid gap-2 col-6 mx-auto"
            >
              <button (click)="btnAddTramoClick()" class="btn btn-primary">
                Agregar tramo
              </button>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <select
                  [(ngModel)]="identificationType"
                  class="form-select"
                  id="identificationType"
                  name="identificationType"
                  [ngClass]="{
                    'is-valid': identificationType,
                    'is-invalid': !identificationType
                  }"
                >
                  <option selected disabled></option>
                  <option value="Cedula de ciudadania">
                    Cedula de ciudadania
                  </option>
                  <option value="Pasaporte">Pasaporte</option>
                  <option value="Tarjeta de identidad">
                    Tarjeta de identidad
                  </option>
                </select>
                <label for="identificationType"
                  >Tipo de documento<span class="text-danger">*</span></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, seleccione una opcion.
                </div>
              </div>
            </div>
            <div *ngIf="identificationType" class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="identification"
                  type="text"
                  class="form-control"
                  name="inputIdentification"
                  id="inputIdentification"
                  placeholder="\0"
                  maxlength="10"
                  [OnlyNumbers]="true"
                  [ngClass]="{
                    'is-valid':
                      identification.length === 8 ||
                      identification.length === 10,
                    'is-invalid':
                      identification.length !== 8 &&
                      identification.length !== 10
                  }"
                />
                <label for="inputIdentification"
                  >{{ identificationType
                  }}<span class="text-danger">*</span></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="fieldFechaNacimiento" class="form-label"
                >Fecha de nacimiento<span class="text-danger">*</span></label
              >
              <app-date-picker
                (onDateChange)="setFechaNacimiento($event)"
                name="fieldFechaNacimiento"
                id="fieldFechaNacimiento"
                requiredFeedbackDay="Este campo es (*) obligatorio, seleccione el dia de nacimiento."
                requiredFeedbackMonth="Este campo es (*) obligatorio, seleccione el mes de nacimiento."
                requiredFeedbackYear="Este campo es (*) obligatorio, seleccione el año de nacimiento."
              ></app-date-picker>
            </div>
            <div class="col-12">
              <div class="row g-3">
                <div class="col-12">
                  <label for="inputEquipajeAdicional"
                    >Equipaje<span class="text-danger">*</span></label
                  >
                </div>
                <div
                  id="inputEquipajeAdicional"
                  name="inputEquipajeAdicional"
                  class="col-12"
                >
                  <div class="form-check">
                    <input
                      [(ngModel)]="equipajeAdicional"
                      class="form-check-input"
                      type="radio"
                      name="radioNingunoEquipajeAdicional"
                      id="radioNingunoEquipajeAdicional"
                      value="Ninguno"
                      [ngClass]="{
                        'is-valid': equipajeAdicional,
                        'is-invalid': !equipajeAdicional
                      }"
                    />
                    <label
                      class="form-check-label"
                      for="radioNingunoEquipajeAdicional"
                      >Ninguno</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      [(ngModel)]="equipajeAdicional"
                      class="form-check-input"
                      type="radio"
                      name="radio10EquipajeAdicional"
                      id="radio10EquipajeAdicional"
                      value="10 kg"
                      [ngClass]="{
                        'is-valid': equipajeAdicional,
                        'is-invalid': !equipajeAdicional
                      }"
                    />
                    <label
                      class="form-check-label"
                      for="radio10EquipajeAdicional"
                      >10 kg</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      [(ngModel)]="equipajeAdicional"
                      class="form-check-input"
                      type="radio"
                      name="radio23EquipajeAdicional"
                      id="radio23EquipajeAdicional"
                      value="23 kg"
                      [ngClass]="{
                        'is-valid': equipajeAdicional,
                        'is-invalid': !equipajeAdicional
                      }"
                    />
                    <label
                      class="form-check-label"
                      for="radio23EquipajeAdicional"
                      >23 kg</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      [(ngModel)]="equipajeAdicional"
                      class="form-check-input"
                      type="radio"
                      name="radio32EquipajeAdicional"
                      id="radio32EquipajeAdicional"
                      value="32 kg"
                      [ngClass]="{
                        'is-valid': equipajeAdicional,
                        'is-invalid': !equipajeAdicional
                      }"
                    />
                    <label
                      class="form-check-label"
                      for="radio32EquipajeAdicional"
                      >32 kg</label
                    >
                    <div class="invalid-feedback">
                      Este campo es (*) obligatorio, seleccione una opcion.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="email"
                  type="email"
                  class="form-control"
                  name="inputEmail"
                  id="inputEmail"
                  placeholder="\0"
                  maxlength="255"
                  [ngClass]="{
                    'is-valid': validateEmail(),
                    'is-invalid': !validateEmail()
                  }"
                />
                <label for="inputEmail"
                  >Correo electronico del viajante<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="telefono"
                  type="text"
                  class="form-control"
                  name="inputTelefono"
                  id="inputTelefono"
                  placeholder="\0"
                  maxlength="10"
                  [OnlyNumbers]="true"
                  [ngClass]="{
                    'is-valid': telefono.length === 10,
                    'is-invalid': telefono.length !== 10
                  }"
                />
                <label for="inputTelefono"
                  >Telefono del viajante<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="uploadFilesPasaporte" class="form-label"
                >Pasaporte</label
              >
              <app-upload-files
                id="uploadFilesPasaporte"
                name="uploadFilesPasaporte"
                (onFilesChange)="setPasaporteFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <label for="uploadFilesComprobantes" class="form-label"
                >Comprobantes</label
              >
              <app-upload-files
                id="uploadFilesComprobantes"
                name="uploadFilesComprobantes"
                (onFilesChange)="setComprobantesFiles($event)"
              ></app-upload-files>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="informacionAdicional"
                  type="text"
                  class="form-control"
                  name="inputInformacionAdicional"
                  id="inputInformacionAdicional"
                  placeholder="\0"
                  maxlength="255"
                />
                <label for="inputInformacionAdicional"
                  >Informacion adicional</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mb-2">
      <button
        href="#firstElement"
        [disabled]="!isValid()"
        (click)="btnSubmitClick()"
        class="btn btn-primary"
      >
        Enviar
      </button>
    </div>
  </div>
</form>
