<div id="firstElement" name="firstElement" class="row g-3">
  <div class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <ul class="nav nav-pills nav-fill">
            <li *ngFor="let avaibleYear of years" class="nav-item">
              <a
                (click)="setYear(avaibleYear)"
                class="btn nav-link"
                [ngClass]="{ active: year === avaibleYear }"
                >{{ avaibleYear }}</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12">
          <h5 class="card-title text-center">
            Busqueda de certificados de ingresos y retenciones año {{ year }}
          </h5>
        </div>
        <div class="col-9 col-md-10 col-xl-11">
          <div class="form-floating">
            <input
              [(ngModel)]="identificator"
              type="text"
              class="form-control"
              name="inputTextIdentificator"
              id="inputTextIdentificator"
              placeholder="\0"
              [ngClass]="{
                'is-valid':
                  identificator.length === 8 ||
                  identificator.length === 10 ||
                  identificator.length === 11,
                'is-invalid':
                  identificator.length !== 8 &&
                  identificator.length !== 10 &&
                  identificator.length !== 11
              }"
              maxlength="11"
            />
            <label for="inputTextIdentificator"
              >Identificacion<strong class="text-danger">*</strong></label
            >
            <div class="invalid-feedback">
              Este campo es (*) obligatorio, rellenelo.
            </div>
          </div>
        </div>
        <div class="col-3 col-md-2 col-xl-1 d-grid grap-2 mx-auto">
          <button
            [disabled]="
              identificator.length !== 8 &&
              identificator.length !== 10 &&
              identificator.length !== 11
            "
            (click)="btnValidarDocumento()"
            class="btn btn-primary"
          >
            Validar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
