<div class="row g-3">
  <div class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">
            Antes de proceder con la aceptacion de los acuerdos de usuario final
            debemos verificar su identidad, para esto debera revisar su correo
            electronico e ingresar el codigo incluido en el email de
            verificacion a continuacion, para realizar esta accion el codigo
            cuenta con un tiempo limite antes de su expiracion de 5 minutos
            despues de ser solicitado
          </h5>
        </div>
        <div class="col-7 col-md-8 col-xl-9">
          <div class="form-floating">
            <input
              [(ngModel)]="codigoVerificacion"
              (input)="invalidateCodigoVerificacion()"
              type="text"
              class="form-control"
              name="floatingInputCodigoVerificacion"
              id="floatingInputCodigoVerificacion"
              placeholder="\0"
              [ngClass]="{
                'is-valid':
                  codigoVerificacionRequested &&
                  codigoVerificacion.length === 4,
                'is-invalid':
                  codigoVerificacionRequested &&
                  (codigoVerificacion.length !== 4 ||
                    validacionCodigoVerificacionError)
              }"
              maxlength="4"
              [disabled]="!codigoVerificacionRequested"
            />
            <label for="floatingInputCodigoVerificacion"
              >Codigo de verificacion<span class="text-danger">*</span></label
            >
            <div class="invalid-feedback">
              <div *ngIf="!validacionCodigoVerificacionError">
                Este campo es (*) obligatorio, rellenelo.
              </div>
              <div *ngIf="validacionCodigoVerificacionError">
                No se ha encontrado, se encuentra en espera o ha sido rechazado
                el registro con la informacion ingresada.
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 col-md-4 col-xl-3 d-grid grap-2 mx-auto">
          <button
            (click)="solicitarVerificarCodigo()"
            class="btn btn-primary"
          >
            {{ currentAvailableAction }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
