<form (ngSubmit)="whenSubmit()">
  <div class="row g-3">
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="numSolicitud"
          type="text"
          class="form-control"
          id="numSolicitud"
          name="numSolicitud"
          placeholder="x"
        />
        <label for="floatingInput">Numero de la Solicitud</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="fecha"
          type="text"
          class="form-control"
          id=""
          name="fecha"
          placeholder="x"
        />
        <label for="floatingInput">Fecha</label>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title mb-4">
            Tipo de adquisicion<span class="text-danger">*</span>
          </h5>
          <div class="row g-3">
            <div class="col-12">
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="tipoAdquisicion"
                  class="form-check-input"
                  type="radio"
                  name="radioAsquisicion"
                  id="Bienes"
                  value="Bienes"
                />
                <label class="form-check-label" for="Bienes">Bienes</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="tipoAdquisicion"
                  class="form-check-input"
                  type="radio"
                  name="radioAsquisicion"
                  id="Suministro"
                  value="Suministro"
                />
                <label class="form-check-label" for="Suministro"
                  >Suministro</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="tipoAdquisicion"
                  class="form-check-input"
                  type="radio"
                  name="radioAsquisicion"
                  id="Servicios"
                  value="Servicios"
                />
                <label class="form-check-label" for="Servicios">
                  Servicios
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="tipoAdquisicion"
                  class="form-check-input"
                  type="radio"
                  name="radioAsquisicion"
                  id="Otro"
                  value="Otro"
                />
                <label class="form-check-label" for="Otro">Otro</label>
              </div>
            </div>
            <div *ngIf="tipoAdquisicion == 'Otro'" class="col-12">
              <div class="form-floating mb-3">
                <input
                  [(ngModel)]="otraAdquisicion"
                  type="text"
                  class="form-control"
                  id="otraAdquisicion"
                  name="otraAdquisicion"
                  placeholder="x"
                />
                <label for="otraAdquisicion">¿Cual?</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title mb-4">
            Con cargo a<span class="text-danger">*</span>
          </h5>
          <div class="row g-3">
            <div class="col-12">
              <div class="form-check form-check-inline">
                <input
                  (change)="cargoAChange()"
                  [(ngModel)]="cargoA"
                  class="form-check-input"
                  type="radio"
                  name="radioCargoA"
                  id="Convenio"
                  value="Convenio"
                />
                <label class="form-check-label" for="Convenio">
                  Convenio
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  (change)="cargoAChange()"
                  [(ngModel)]="cargoA"
                  class="form-check-input"
                  type="radio"
                  name="radioCargoA"
                  id="Funcionamiento"
                  value="Funcionamiento"
                />
                <label class="form-check-label" for="Funcionamiento">
                  Funcionamiento
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  (change)="cargoAChange()"
                  [(ngModel)]="cargoA"
                  class="form-check-input"
                  type="radio"
                  name="radioCargoA"
                  id="Unidad"
                  value="Unidad"
                />
                <label class="form-check-label" for="Unidad">Unidad</label>
              </div>
            </div>
            <div *ngIf="cargoA == 'Convenio'" class="col-12">
              <div class="form-floating mb-3">
                <input
                  [(ngModel)]="nombreConvenio"
                  type="text"
                  class="form-control"
                  id="Convenio"
                  name="Convenio"
                  placeholder="x"
                />
                <label for="Convenio">Convenio</label>
              </div>
            </div>
            <div *ngIf="cargoA == 'Unidad'" class="col-12">
              <div class="form-floating mb-3">
                <input
                  [(ngModel)]="nombreUnidad"
                  type="text"
                  class="form-control"
                  id="Unidad"
                  name="Unidad"
                  placeholder="x"
                />
                <label for="floatingInput">Unidad</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="VBresponAreaFinan"
          type="text"
          class="form-control"
          id=""
          name="VBresponAreaFinan"
          placeholder="x"
        />
        <label for="floatingInput">V°B° Responsable Area Financiera</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="nombreResponAreaFinan"
          type="text"
          class="form-control"
          id=""
          name="nombreResponAreaFinan"
          placeholder="x"
        />
        <label for="floatingInput"
          >Nombre del Responsable Area Financiera</label
        >
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="nombreSolicitante"
          type="text"
          class="form-control"
          id=""
          name="nombreSolicitante"
          placeholder="x"
        />
        <label for="floatingInput">Nombre del Solicitante</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input
          [(ngModel)]="VBareaJuridica"
          type="text"
          class="form-control"
          id=""
          name="VBAreaJuridica"
          placeholder="x"
        />
        <label for="floatingInput">V°B° Area Juridica</label>
      </div>
    </div>
    <div class="row-12">
      <div class="d-grid gap-2 col-xl-6 mx-auto">
        <button [disabled]="false" type="submit" class="btn btn-primary">
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
