<div class="container">
  <div
    class="card shadow-lg bg-body rounded border-primary border-0 border border-5 my-3 border-start"
  >
    <img src="../../../assets/banner.png" class="card-img-top" />
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center" style="white-space: pre-wrap">
            {{ title }}
          </h5>
        </div>
        <div *ngIf="description" class="col-12">
          <p class="card-text" style="white-space: pre-wrap">
            {{ description }}
          </p>
        </div>
        <div class="col-12">
          <!--Financiera-->
          <app-forms-financiera-registration
            *ngIf="isRoute('/forms/financiera/registration')"
          >
          </app-forms-financiera-registration>
          <app-forms-financiera-invoice
            *ngIf="isRoute('/forms/financiera/invoice')"
          ></app-forms-financiera-invoice>
          <!--Juridica-->
          <app-forms-juridica
            *ngIf="isRoute('/forms/juridica')"
          ></app-forms-juridica>
          <app-forms-juridica-minuta
            *ngIf="
              startWithRoute('/forms/juridica/') && endWithRoute('/minuta')
            "
          ></app-forms-juridica-minuta>
          <app-forms-juridica-eula
            *ngIf="startWithRoute('/forms/juridica/') && endWithRoute('/eula')"
          ></app-forms-juridica-eula>
          <!--Compras-->
          <app-forms-adquisicion
            *ngIf="isRoute('/forms/compras')"
          ></app-forms-adquisicion>
          <!--Logistica-->
          <app-forms-coordinacionlogistica *ngIf="isRoute('/forms/logistica')">
          </app-forms-coordinacionlogistica>
          <app-forms-coordinacionlogistica-fillquotations
            *ngIf="
              startWithRoute('/forms/logistica/') &&
              endWithRoute('/fillquotations')
            "
          >
          </app-forms-coordinacionlogistica-fillquotations>
          <app-forms-coordinacionlogistica-selectquotation
            *ngIf="
              startWithRoute('/forms/logistica/') &&
              endWithRoute('/selectquotation')
            "
          >
          </app-forms-coordinacionlogistica-selectquotation>
          <app-forms-certificadosingresosretenciones
            *ngIf="isRoute('/forms/certificadosingresosretenciones')"
          ></app-forms-certificadosingresosretenciones>
          <app-forms-tests *ngIf="isRoute('/forms/tests')"> </app-forms-tests>
        </div>
      </div>
    </div>
  </div>
</div>
