<div class="container">
  <div
    class="card shadow-lg bg-body rounded border-primary border-0 border border-5 my-3 border-start"
  >
    <img src="../../../assets/banner.png" class="card-img-top" />
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center" style="white-space: pre-wrap">
            {{ title }}
          </h5>
        </div>
        <div *ngIf="description" class="col-12">
          <p class="card-text" style="white-space: pre-wrap">
            {{ description }}
          </p>
        </div>
        <div class="col-12">
          <!--Financiera-->
          <app-forms-financiera-registration
            *ngIf="isRoute('/forms/financiera/registration')"
          >
          </app-forms-financiera-registration>
          <app-forms-financiera-invoice
            *ngIf="isRoute('/forms/financiera/invoice')"
          ></app-forms-financiera-invoice>
          <!--Juridica-->
          <app-forms-juridica
            *ngIf="isRoute('/forms/juridica')"
          ></app-forms-juridica>
          <app-forms-juridica-minuta
            *ngIf="
              startWithRoute('/forms/juridica/') && endWithRoute('/minuta')
            "
          ></app-forms-juridica-minuta>
          <app-forms-juridica-eula
            *ngIf="startWithRoute('/forms/juridica/') && endWithRoute('/eula')"
          ></app-forms-juridica-eula>
          <app-forms-juridica-pliegos
            *ngIf="
              startWithRoute('/forms/juridica/') && endWithRoute('/pliegos')
            "
          ></app-forms-juridica-pliegos>
          <app-forms-juridica-oferentes
            *ngIf="
              startWithRoute('/forms/juridica/') && endWithRoute('/oferentes')
            "
          ></app-forms-juridica-oferentes>
          <app-forms-juridica-oferentes-configuration
            *ngIf="
              startWithRoute('/forms/juridica/') &&
              endWithRoute('/oferentes/configuration')
            "
          ></app-forms-juridica-oferentes-configuration>
          <app-forms-juridica-evaluadores
            *ngIf="
              startWithRoute('/forms/juridica/') && endWithRoute('/evaluadores')
            "
          ></app-forms-juridica-evaluadores>
          <app-forms-juridica-evaluaciones
            *ngIf="
              startWithRoute('/forms/juridica/') &&
              endWithRoute('/evaluaciones')
            "
          ></app-forms-juridica-evaluaciones>
          <!--Compras-->
          <app-forms-compras
            *ngIf="isRoute('/forms/compras')"
          ></app-forms-compras>
          <!--Tiquetes-->
          <app-forms-tiquetes *ngIf="isRoute('/forms/tiquetes')">
          </app-forms-tiquetes>
          <app-forms-tiquetes-fillquotations
            *ngIf="
              startWithRoute('/forms/tiquetes/') &&
              endWithRoute('/fillquotations')
            "
          >
          </app-forms-tiquetes-fillquotations>
          <app-forms-tiquetes-selectquotation
            *ngIf="
              startWithRoute('/forms/tiquetes/') &&
              endWithRoute('/selectquotation')
            "
          >
          </app-forms-tiquetes-selectquotation>
          <app-forms-certificadosingresosretenciones
            *ngIf="isRoute('/forms/certificadosingresosretenciones')"
          ></app-forms-certificadosingresosretenciones>
          <app-forms-tests *ngIf="isRoute('/forms/tests')"> </app-forms-tests>
        </div>
      </div>
    </div>
  </div>
</div>
