<div class="container">
  <div
    class="
      card
      shadow-lg
      bg-body
      rounded
      border-primary border-0 border border-5
      my-3
      border-start
    "
  >
    <img src="../../../assets/banner.png" class="card-img-top" />
    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center" style="white-space: pre-wrap">
            {{ title }}
          </h5>
        </div>
        <div class="col-12">
          <p class="card-text" style="white-space: pre-wrap">
            {{ description }}
          </p>
        </div>
        <div class="col-12">
          <app-forms-financiera-registration
            *ngIf="isRoute('/forms/financiera/registration')"
            (onWaitTasksChange)="setWaitTasks($event)"
          >
          </app-forms-financiera-registration>
          <app-forms-financiera-invoice
            *ngIf="isRoute('/forms/financiera/invoice')"
          ></app-forms-financiera-invoice>
          <app-forms-coordinacionlogistica
            *ngIf="isRoute('/forms/coordinacionlogistica')"
          >
          </app-forms-coordinacionlogistica>
          <app-forms-coordinacionlogistica-fillquotations
            *ngIf="
              startWithRoute('/forms/coordinacionlogistica/') &&
              endWithRoute('/fillquotations')
            "
          >
          </app-forms-coordinacionlogistica-fillquotations>
          <app-forms-coordinacionlogistica-selectquotation
            *ngIf="
              startWithRoute('/forms/coordinacionlogistica/') &&
              endWithRoute('/selectquotation')
            "
          >
          </app-forms-coordinacionlogistica-selectquotation>
          <app-forms-juridica-contratacion-convenio-request
            *ngIf="isRoute('/forms/juridica/contratacion/convenio/request')"
            [convenios]="convenios"
            (onWaitTasksChange)="setWaitTasks($event)"
          ></app-forms-juridica-contratacion-convenio-request>
          <app-forms-juridica-contratacion-request
            *ngIf="isRoute('/forms/juridica/contratacion/request')"
            [convenios]="convenios"
            (onWaitTasksChange)="setWaitTasks($event)"
          ></app-forms-juridica-contratacion-request>
        </div>
      </div>
    </div>
  </div>
</div>
