<div class="row g-3">
  <div *ngIf="formIndex === 0" class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">
            Antes de proceder debemos verificar su identidad, para esto debera
            revisar su correo electronico e ingresar el codigo incluido en el
            email de autentificacion en este formulario, para realizar esta
            accion el codigo cuenta con un tiempo limite antes de su expiracion
            de 5 minutos despues de ser solicitado.
          </h5>
        </div>
        <div class="col-7 col-md-8 col-xl-9">
          <div class="form-floating">
            <input
              [(ngModel)]="codigoVerificacion"
              (input)="invalidateCodigoVerificacion()"
              type="text"
              class="form-control"
              name="floatingInputCodigoVerificacion"
              id="floatingInputCodigoVerificacion"
              placeholder="\0"
              [ngClass]="{
                'is-valid':
                  codigoVerificacionRequested &&
                  codigoVerificacion.length === 4,
                'is-invalid':
                  codigoVerificacionRequested &&
                  (codigoVerificacion.length !== 4 ||
                    verificacionCodigoVerificacionError)
              }"
              maxlength="4"
              [disabled]="!codigoVerificacionRequested"
            />
            <label for="floatingInputCodigoVerificacion"
              >Codigo de verificacion<span class="text-danger">*</span></label
            >
            <div class="invalid-feedback">
              <div *ngIf="!verificacionCodigoVerificacionError">
                Este campo es (*) obligatorio, rellenelo.
              </div>
              <div *ngIf="verificacionCodigoVerificacionError">
                El codigo ingresado no es correcto, vuelvalo a intentar o
                reintente el envio del codigo de verificacion en 5 minutos
                despues haber solicitado algun codigo.
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 col-md-4 col-xl-3 d-grid grap-2 mx-auto">
          <button
            [disabled]="
              currentAvailableAction === 'Verificar codigo'
                ? codigoVerificacion.length !== 4
                : false
            "
            (click)="solicitarVerificarCodigo()"
            class="btn btn-primary"
          >
            {{ currentAvailableAction }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 1" class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">Contrato</h5>
        </div>
        <div *ngIf="minutaUrl" class="col-12">
          <pdf-viewer
            [src]="minutaUrl"
            [render-text]="true"
            style="height: 500px"
          ></pdf-viewer>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formIndex === 1" class="d-grid gap-2 col-6 mx-auto mb-2">
    <a
      class="btn btn-primary"
      (click)="btnSubmitClick()"
      role="button"
      [ngClass]="{ disabled: !isValid() }"
      >Aceptar</a
    >
  </div>
</div>
