<form>
  <div id="firstElement" class="row g-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            <div class="col-12">
              <h5 class="card-title text-center">Coordinacion Logistica</h5>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="nombre"
                  type="text"
                  class="form-control"
                  name="inputNombre"
                  id="inputNombre"
                  placeholder="x"
                  [ngClass]="{
                    'is-valid': nombre,
                    'is-invalid': !nombre
                  }"
                  maxlength="255"
                />
                <label for="inputNombre"
                  >Nombre completo del viajante<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <select
                  [(ngModel)]="convenio"
                  class="form-select"
                  id="selectConvenio"
                  name="selectConvenio"
                  [ngClass]="{
                    'is-valid': convenio,
                    'is-invalid': !convenio
                  }"
                >
                  <option selected disabled></option>
                  <option
                    *ngFor="let convenio of convenios"
                    value="{{ convenio.Aliado + ' | ' + convenio.Numero }}"
                  >
                    {{ convenio.Aliado + " | " + convenio.Numero }}
                  </option>
                </select>
                <label for="selectConvenio">Convenio</label>
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, seleccione una opcion.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="fieldFechaIda" class="form-label"
                >Fecha ida<span class="text-danger">*</span></label
              >
              <app-date-picker
                [allowPass]="false"
                (onDateChange)="setFechaIda($event)"
                name="fieldFechaIda"
                id="fieldFechaIda"
                requiredFeedbackDay="Este campo es (*) obligatorio, seleccione el dia de ida."
                requiredFeedbackMonth="Este campo es (*) obligatorio, seleccione el mes de ida."
                requiredFeedbackYear="Este campo es (*) obligatorio, seleccione el año de ida."
              ></app-date-picker>
            </div>
            <div class="col-12">
              <label for="fieldFechaVuelta" class="form-label"
                >Fecha vuelta</label
              >
              <app-date-picker
                [allowPass]="false"
                (onDateChange)="setFechaVuelta($event)"
                name="fieldFechaVuelta"
                id="fieldFechaVuelta"
              ></app-date-picker>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="identification"
                  type="text"
                  class="form-control"
                  name="inputIdentification"
                  id="inputIdentification"
                  placeholder="\0"
                  maxlength="10"
                  [OnlyNumbers]="true"
                  [ngClass]="{
                    'is-valid':
                      identification.length === 8 ||
                      identification.length === 10,
                    'is-invalid':
                      identification.length !== 8 &&
                      identification.length !== 10
                  }"
                />
                <label for="inputIdentification"
                  >Documento de identidad<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row g-3">
                <div class="col-12">
                  <label for="inputEquipajeAdicional"
                    >¿Cuenta con equipaje adicional?<span class="text-danger"
                      >*</span
                    ></label
                  >
                </div>
                <div
                  id="inputEquipajeAdicional"
                  name="inputEquipajeAdicional"
                  class="col-12"
                >
                  <div class="form-check">
                    <input
                      [(ngModel)]="equipajeAdicional"
                      class="form-check-input"
                      type="radio"
                      name="radioSiEquipajeAdicional"
                      id="radioSiEquipajeAdicional"
                      value="true"
                    />
                    <label
                      class="form-check-label"
                      for="radioSiEquipajeAdicional"
                      >Si</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      [(ngModel)]="equipajeAdicional"
                      class="form-check-input"
                      type="radio"
                      name="radioNoEquipajeAdicional"
                      id="radioNoEquipajeAdicional"
                      value="false"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="radioNoEquipajeAdicional"
                      >No</label
                    >
                    <div class="invalid-feedback">
                      Este campo es (*) obligatorio, seleccione una opcion.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="email"
                  type="email"
                  class="form-control"
                  name="inputEmail"
                  id="inputEmail"
                  placeholder="\0"
                  maxlength="255"
                  [ngClass]="{
                    'is-valid': validateEmail(),
                    'is-invalid': !validateEmail()
                  }"
                />
                <label for="inputEmail"
                  >Correo electronico del viajante<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  [(ngModel)]="telefono"
                  type="text"
                  class="form-control"
                  name="inputTelefono"
                  id="inputTelefono"
                  placeholder="\0"
                  maxlength="10"
                  [OnlyNumbers]="true"
                  [ngClass]="{
                    'is-valid': telefono.length === 10,
                    'is-invalid': telefono.length !== 10
                  }"
                />
                <label for="inputTelefono"
                  >Telefono del viajante<span class="text-danger"
                    >*</span
                  ></label
                >
                <div class="invalid-feedback">
                  Este campo es (*) obligatorio, rellenelo.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label for="uploadFilesPasaporte" class="form-label"
                >Pasaporte<span class="text-danger">*</span></label
              >
              <app-upload-files
                id="uploadFilesPasaporte"
                name="uploadFilesPasaporte"
                requiredFeedback="
                  Este campo es (*) obligatorio, cargue almenos 1 archivo.
                "
                (onFilesChange)="setPasaporteFiles($event)"
              ></app-upload-files>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mb-2">
      <button
        [disabled]="!isValid()"
        (click)="btnSubmitClick()"
        class="btn btn-primary"
      >
        Enviar
      </button>
    </div>
  </div>
</form>
