<div *ngIf="juridica" class="row g-3">
  <div class="col-12">
    <div class="card card-body">
      <div class="row g-3">
        <div class="col-12">
          <h5 class="card-title text-center">
            {{
              juridica
                ? juridica.TipoProceso +
                  " - " +
                  juridica.TipoPersona +
                  " - " +
                  (juridica.TipoAdquisicion === "Otro"
                    ? juridica.TipoAdquisicionOtro
                    : juridica.TipoAdquisicion)
                : ""
            }}
          </h5>
        </div>
        <div class="col-12">
          <label for="datePickerFechaInicio" class="form-label"
            >Fecha de inicio convocatoria<span class="text-danger"
              >*</span
            ></label
          >
          <app-date-picker
            [allowPass]="false"
            (onDateChange)="setFechaInicio($event)"
            name="datePickerFechaInicio"
            id="datePickerFechaInicio"
            requiredFeedbackYear="Este campo es (*) obligatorio, seleccione el año de inicio."
            requiredFeedbackMonth="Este campo es (*) obligatorio, seleccione el mes de inicio."
            requiredFeedbackDay="Este campo es (*) obligatorio, seleccione el dia de inicio."
          ></app-date-picker>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <select
              [(ngModel)]="horaInicio"
              class="form-select"
              id="selectHoraInicio"
              name="selectHoraInicio"
              [ngClass]="{
                'is-valid': horaInicio && ifEndDateIsGreaterThatStartDate(),
                'is-invalid': !horaInicio || !ifEndDateIsGreaterThatStartDate()
              }"
            >
              <option selected disabled></option>
              <option value="0">12 AM</option>
              <option value="1">1 AM</option>
              <option value="2">2 AM</option>
              <option value="3">3 AM</option>
              <option value="4">4 AM</option>
              <option value="5">5 AM</option>
              <option value="6">6 AM</option>
              <option value="7">7 AM</option>
              <option value="8">8 AM</option>
              <option value="9">9 AM</option>
              <option value="10">10 AM</option>
              <option value="11">11 AM</option>
              <option value="12">12 PM</option>
              <option value="13">1 PM</option>
              <option value="14">2 PM</option>
              <option value="15">3 PM</option>
              <option value="16">4 PM</option>
              <option value="17">5 PM</option>
              <option value="18">6 PM</option>
              <option value="19">7 PM</option>
              <option value="20">8 PM</option>
              <option value="21">9 PM</option>
              <option value="22">10 PM</option>
              <option value="23">11 PM</option>
            </select>
            <label for="selectHoraInicio"
              >Hora de inicio convocatoria<span class="text-danger"
                >*</span
              ></label
            >
            <div
              *ngIf="ifEndDateIsGreaterThatStartDate()"
              class="invalid-feedback"
            >
              Este campo es (*) obligatorio, seleccione una opcion.
            </div>
            <div
              *ngIf="!ifEndDateIsGreaterThatStartDate()"
              class="invalid-feedback"
            >
              La fecha de inicio de la convocatoria debe ser menor a la fecha de
              finalizacion.
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="datePickerFechaFin" class="form-label"
            >Fecha de fin convocatoria<span class="text-danger">*</span></label
          >
          <app-date-picker
            [allowPass]="false"
            (onDateChange)="setFechaFin($event)"
            name="datePickerFechaFin"
            id="datePickerFechaFin"
            requiredFeedbackYear="Este campo es (*) obligatorio, seleccione el año de fin."
            requiredFeedbackMonth="Este campo es (*) obligatorio, seleccione el mes de fin."
            requiredFeedbackDay="Este campo es (*) obligatorio, seleccione el dia de fin."
          ></app-date-picker>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <select
              [(ngModel)]="horaFin"
              class="form-select"
              id="selectHoraFin"
              name="selectHoraFin"
              [ngClass]="{
                'is-valid': horaFin && ifEndDateIsGreaterThatStartDate(),
                'is-invalid': !horaFin || !ifEndDateIsGreaterThatStartDate()
              }"
            >
              <option selected disabled></option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(0)
                "
                value="0"
              >
                12 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(1)
                "
                value="1"
              >
                1 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(2)
                "
                value="2"
              >
                2 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(3)
                "
                value="3"
              >
                3 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(4)
                "
                value="4"
              >
                4 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(5)
                "
                value="5"
              >
                5 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(6)
                "
                value="6"
              >
                6 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(7)
                "
                value="7"
              >
                7 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(8)
                "
                value="8"
              >
                8 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(9)
                "
                value="9"
              >
                9 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(10)
                "
                value="10"
              >
                10 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(11)
                "
                value="11"
              >
                11 AM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(12)
                "
                value="12"
              >
                12 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(13)
                "
                value="13"
              >
                1 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(14)
                "
                value="14"
              >
                2 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(15)
                "
                value="15"
              >
                3 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(16)
                "
                value="16"
              >
                4 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(17)
                "
                value="17"
              >
                5 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(18)
                "
                value="18"
              >
                6 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(19)
                "
                value="19"
              >
                7 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(20)
                "
                value="20"
              >
                8 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(21)
                "
                value="21"
              >
                9 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(22)
                "
                value="22"
              >
                10 PM
              </option>
              <option
                [disabled]="
                  ifEndDateEqualsStartDate() && isStartDateHoursGreaterThat(23)
                "
                value="23"
              >
                11 PM
              </option>
            </select>
            <label for="selectHoraFin"
              >Hora de fin convocatoria<span class="text-danger">*</span></label
            >
            <div
              *ngIf="ifEndDateIsGreaterThatStartDate()"
              class="invalid-feedback"
            >
              Este campo es (*) obligatorio, seleccione una opcion.
            </div>
            <div
              *ngIf="!ifEndDateIsGreaterThatStartDate()"
              class="invalid-feedback"
            >
              La fecha de finalizacion de la convocatoria debe ser mayor a la
              fecha de inicio.
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mb-2">
        <button
          class="btn btn-primary"
          (click)="save()"
          role="button"
          [disabled]="!isValid()"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
